* {
  margin: 0;
  padding: 0;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Poppins', sans-serif;

  --margin-width: 15%;
  --border-radius-big: 0.5rem;
  --border-radius-small: 0.25rem;

  /* --color1: #0f55a6; */
  --color1: #15abdb;
  --color1-hover: #0f55a6;
  --color2: #15abdb;
  --sub-text-color: #948f99;
  --color3: #0f55a6;
  /* --color3: #ffde17; */
  --color-red: #cc3a55;
  --background-color2: #f7f7f7;
  --background-color: #fff;
}

body {
  /* background-color: var(--background-color); */
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.container {
  max-width: 1000px;
  /* margin: 0 var(--margin-width); */
  margin: auto;
  padding: 0 15px;
}

.container-fluid {
  width: 100%;
}
