*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    display: grid;
    align-content: flex-start;
    margin: 148px 0 64px 0;
    padding: 0 13% 0 13%;
    width: 1386px;
    color: #1C0E40;
}
article{
    position: relative;
    display: grid;
    grid-template-columns: 257px auto;
    column-gap: 8.25rem;

}
.about-menu{
    display: block;
    margin-top: 32px;
    border:1px 1px 1px 0px ;
    
}
.menu{
    padding: 24px 24px 16px 24px;
    border-left: 6px solid #1873dc;
    border-radius: 8px;
    border-top: 1px solid #e8ddff;
    border-right: 1px solid #e8ddff;
    border-bottom: 1px solid #e8ddff;
    position: fixed;
    width: 257px;
}
.title-menu{
    display: block;
    margin-bottom: 24px;
}
.name-menu{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 18px;
    text-size-adjust: 100%;
    text-transform: uppercase;
}

li .mission{
    display: list-item;
    padding-top: 0px;
}
a{
    display: inline-block;
    padding-left: 22px;
    padding-top: 0px;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    text-size-adjust: 100%;
    cursor: pointer;
    color:#1C0E40 ;
    text-decoration: none;
    
}
a:hover{
    color: #0f55a6;
    text-decoration-line:underline ;
    text-decoration-style: solid;
    
}
li{
    display: list-item;
    padding-top: 16px;
    color:#1C0E40 ;
    list-style-type: none;
}

.about-content{
    display: block;
    float: right;
}
.content{
    margin-top: 32px;
}
h1{
    margin: 32px 0 16px 0;
    font-size: 46px;
    font-weight: 600;
    line-height: 54px;
    text-size-adjust: 100%;
}
p {
    margin: 0 016px 0;
    font-size: 18px;
    line-height: 28px;
}
h2{
    margin: 48px 0 16px 0;
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
}
.img-content{
    display: block;
    margin: 48px 0;
    border-bottom: 1px solid #e8ddff; 
}
img{
    display: inline-block;
    float: left;
    margin: 0 24px 24px 0;
    width: 210px;
    max-width: 100%;
    border: 6px;
    border-radius: 6px;
    
}
.info{
    display: block;
    margin-bottom: 0;
}
.name{
    margin-top: 24px;
    font-size: 22px;
    font-weight: bold;
    line-height: 28px;

}
.job{
    margin-top: 8px;
    color: #615d66;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 18px;
    text-transform: uppercase;
}
.in4{
    margin-top: 12px;
    font-size: 18px;
    line-height: 28px;
}
.in4 > p{
    margin-bottom: 0;
}
h4{
    margin: 37px 0 16px 0;
    font-size: 20px;
    font-weight: bold;
    line-height: 32px;
}
#mail{
    margin-bottom: 0px;
    padding-left: 0px;
    font-size: 18px;
    color: #0f55a6;
    text-decoration-line:underline ;
    text-decoration-style: solid;
}
#mail:hover{
    color: #4949ea;
}