.container {
  max-width: 1000px;
  margin: auto;
  padding: 0 15px;
  background-color: #fff;
}
/* HEADER */

.course-content {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 35% 1fr;
  column-gap: 2vw;
  padding-bottom: 48px;
  border-bottom: 1.5px solid var(--color2);
}
.course-img > img {
  display: block;
  max-width: 100%;
  border-radius: var(--border-radius-big);
}

.course__lists-info{
  display: grid;
  grid-template-columns: 1fr 20%;
  column-gap: 20px;
}
.course__info-content {
  display: block;
}
.course-name {
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
}
.course-id{
  margin-top: 5px;
  font-size: 12px;
  line-height: 16px;
}
.course-author,
.credit-hours {
  margin-top: 20px;
  font-size: 16px;
  line-height: 16px;
}
.action-icon {
  display: flex;
  flex-direction: row;
}
.icon-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  
}
.icon-item > a > i {
  display: block;
  height: 22px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.icon-item > p {
  display: block;
  font-size: 12px;
  line-height: 19px;
}

.course-title {
  margin-top: 20px;
}
.course-title > p {
  display: inline;
  font-size: 18px;
  line-height: 26px;
}
.lists-button {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 16px;
}
.lists-button > a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 160px;
  width: 220px;
  padding: 15px 30px;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  text-align: center;
}
.create-button {
  color: var(--color1);
  border-radius: 40px;
  border: 2px solid var(--color1);
  background-color: var(--background-color);
}
.create-button:hover {
  color: var(--background-color);
  background-color: var(--color1);
}
.start-button{
  color: var(--background-color);
  background-color: var(--color1);
  border-radius: 40px;
  border: 2px solid var(--color1);
}
.start-button:hover {
  background-color: #fff;
  color: var(--color1);
}

/* CONTENT */
.about-course{
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 20%;
  column-gap: 2.5vw;
}
.section-title{
  font-size: 26px;
  font-weight: 600;
}
.learning-object,
.disclaimers,
.author,
.recognition
{
  margin-top: 30px;
  padding-top: 35px;
  border-top: 1px solid var(--color1);
}
.overview-content,
.learning-content,
.disclaimer-content,
.author-content,
.recognition-content{
  margin-top: 20px;
}
.overview-content,
.learning-content,
.disclaimer-content,
.author-content,
.recognition-content >p {
  font-size: 18px;
  line-height: 2vw;
}
.lists-overview {
  margin-top: 30px;
}
.lists-overview > li {
  display: flex;
  padding: 10px 20px;
}
.lists-overview li:nth-child(odd) {
  background-color: rgb(225 235 244);
}
.overview__name-item > p {
  display: block;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
}
.overview__content-item > p {
  margin-left: 14px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
}
.learning-content > p {
  font-size: 18px;
  font-weight: 550;
} 
.learning-content > ul,
.disclaimer-content > ul {
  padding-left: 30px;
}
.learning-content > ul > li,
.disclaimer-content > ul > li {
  display: list-item;
  position: relative;
  font-size: 18px;
  line-height: 3vw;
  text-align: left;
  list-style-type: disc;
}
.disclaimer-content > p{
  margin-top: 1vw;
}
.author-info{
  display: grid;
  grid-template-columns: 10% 1fr;
  column-gap: 10px;
}
.author-img{
  width: 80px;
  height: 78px;
  object-fit: cover;
}
.author-img > img {
  width: 100%;
  border-radius: 300px;
}
.author-about {
  padding: 15px 10px;
}
.author-name {
  font-size: 18px;
  font-weight: 600;
}
.author-job {
  font-size: 14px;
  margin-top: 10px;
}
.author-career {
  margin-left: 90px;
}
.author-career > p {
  margin: 10px 0px;
  display: inline;
  font-size: 18px;
}
.author-career> a {
  color: var(--color2);
  font-size: 18px;
}
.author-career > a:hover {
  color: var(--color1-hover);
}
.recognition{
  margin-bottom: 5rem;
}
.recognition-content {
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 30px;
}
.organization {
  margin-top: 4rem ;
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-column: 20px;
}
.organization-logo {
  max-width: 150px;
}
.organization-logo> img {
  width: 100%;
  height: auto;
}
.organization-name{
  font-size: 18px;
  font-weight: 550;
}
.organization-about > p {
  font-size: 16px;
  margin-top: 12px;
}
.side-bar {
  position: sticky;
  max-height: 220px;
  top: 180px;
  border-left: 7px solid var(--color1);
  border-radius: 10px;
  border-top: 1px solid var(--color1);
  border-right: 1px solid var(--color1);
  border-bottom: 1px solid var(--color1);
}
.side-bar__title-wrapper {
  display: block;
  padding: 1vw;
}
.side-bar__title {
  font-size: 1.2vw;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 18px;
  text-size-adjust: 100%;
}

.side-bar_list {
  display: flex;
  flex-direction: column;
  color: var(--color1);
}
.side-bar__item {
  margin-left: 2vw;
  padding-bottom: 1vw;
  position: relative;
}

.side-bar__item a {
  font-weight: 500;
  line-height: 0.8vw;
  font-size: 0.9em;
  color: var(--color1);
  text-decoration-line: underline;
}
.side-bar__item a:hover {
  color: var(--color1-hover);
}

@media only screen and (min-width: 800px) and (max-width: 1024px) {
  .container {
    padding: 0px 12px;
  }
  .course__lists-info{
    column-gap: 0;
    grid-template-columns: 1fr 20% 20%;
  }
  .course-name{
    font-size: 18px;
  }
  .lists-button > a {
    min-width: 100px;
    width: 180px;
    padding: 15px 20px;
    font-size: 14px;
  }
  .section-title,
  .side-bar__title
  {
    font-size: 20px;
  }
  .course-title > p,
  .overview-content > p,
.learning-content > p,
.disclaimer-content > p,
.author-content > p,
.recognition-content >p,
.author-career > p ,
.organization-about > p {
  font-size: 16px;
}
.learning-content > ul > li,
.disclaimer-content > ul > li {
  font-size: 16px;
  line-height: 30px;
}
.overview__content-item > p {
  font-size: 15px;
  font-weight: 550;
  line-height: 22px;
}
.overview__name-item > p {
  font-size: 16px;
}
.author-img > img {
  width: 85%;
}
.author-career{
  margin-left: 5rem;
}
.author-career > p > a {
  font-size: 14px;
}
.organization-name{
  font-size: 16px;
  font-weight: 550;
}
.organization-name{
  font-size: 16px;
} 
.side-bar{
  max-height: 200px;
}
 .side-bar__title{
  font-size: 1.4vw;
}
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .container {
    padding: 0px 15px;
  }
  .course-content{
    display: grid;
    grid-template-columns: 1fr;
  }
  .course-img > img{
    width: 100%;
    object-fit: cover;
    height: 300px;
  }
  .course__lists-info{
    margin-top: 30px;
  }
  .course__lists-info{
    column-gap: 0;
    grid-template-columns: 1fr 20% 20%;
  }
  .course__info-content > p{
    margin-top: 10px;
  }
  .course-name{
    font-size: 16px;
  }
  .action-icon{
    column-gap: 5px;
  }
  .icon-item > i > p{
    font-size: 10px;
  }
  .lists-button > a {
    min-width: 90px;
    width: 17rem;
    padding: 15px 10px;
    font-size: 14px;

  }
.about-course{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 1fr;
    row-gap: 20px;
  }
  .bio__about-course{
    grid-area: 2 / 1 / 3 / 2;
    max-width: 100%;
    height: auto;
  }
  .side-bar{
    grid-area: 1 / 1 / 2 / 2;
    position: static;
    max-width: 100%;
    max-height: 200px;
  }
  .side-bar__title {
    font-size: 1vw;
    font-weight: 700;
    letter-spacing: 1px;
    text-size-adjust: 100%;
  }
  .side-bar__item {
    margin-left: 2vw;
    padding-bottom: 2vw;
    position: relative;
  } 
  .section-title,
  .side-bar__title
  {
    font-size: 18px;
  }
  .course__info-content > p,
  .course-title > p,
  .overview-content > p,
.learning-content > p,
.disclaimer-content > p,
.author-content > p,
.recognition-content >p,
.author-career > p ,
.organization-about > p {
  font-size: 14px;
  line-height: 3vw;
}
.learning-content > ul > li,
.disclaimer-content > ul > li {
  font-size: 14px;
  line-height: 30px;
}
.overview__content-item > p {
  font-size: 14px;
  font-weight: 550;
  line-height: 22px;
}
.overview__name-item > p {
  font-size: 14px;
}
.author-img > img{
  width: 95%;
}
.organization-name{
  font-size: 14px;
  font-weight: 550;
}
}
@media only screen and (min-width: 480px) and (max-width: 600px) {
  .container {
    padding: 0px 12px;
  }
  .course-content{
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 5vw;
  }
  .course-img > img{
    width: 100%;
    object-fit: cover;
    height: 300px;
  }
  .course__lists-info{
    margin-top: 3vw;
    row-gap: 1.7vw;
    grid-template-columns: 1fr;
  }
  .course__info-content{
    text-align: center;
  }
  .course__info-content > p{
    margin-top: 1vw;
  }
  .course-name{
    font-size: 16px;
  }
  .course-title{
    margin: 1.5vw 0 0 1rem;
  }
  .action-icon{
    column-gap: 10vw;
    max-width:200px ;
    margin: 0 auto;
  }
  .icon-item > i > p{
    font-size: 10px;
  }
  .lists-button{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 4vw;
    margin-top: 2.5vw;
  }
  .lists-button > a {
    display: flex;
    margin: 0 auto;
    min-width: 10px;
    width: 220px;
    padding: 12px 9px;
    font-size: 14px;

  }
.about-course{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr;
    row-gap: 20px;
  }
  .bio__about-course{
    grid-area: 2 / 1 / 3 / 2;
    max-width: 100%;
    height: auto;
  }
  .side-bar{
    grid-area: 1 / 1 / 2 / 2;
    height: auto;
    position: static;
    max-width: 100%;
  }
  .side-bar__title {
    font-size: 1vw;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 18px;
    text-size-adjust: 100%;
  }
  .side-bar__item {
    margin-left: 2.5vw;
    padding-bottom: 2vw;
    position: relative;
  }
  .section-title,
  .side-bar__title
  {
    font-size: 18px;
  }
  .course__info-content > p,
  .course-title > p,
  .overview-content > p,
.learning-content > p,
.disclaimer-content > p,
.author-content > p,
.recognition-content >p,
.author-career > p ,
.organization-about > p {
  font-size: 14px;
  line-height: 4vw;
}
.learning-content > ul > li,
.disclaimer-content > ul > li {
  font-size: 14px;
  line-height: 30px;
}
.overview__content-item > p {
  font-size: 14px;
  font-weight: 550;
  line-height: 22px;
}
.overview__name-item > p {
  font-size: 14px;
}
.author-img > img{
  width: 80%;
}
.author-career{
  margin-left: 4rem;
}
.author-career > a{
  font-size: 14px;
}
.organization{
  margin-top: 2rem;
}
.organization-name{
  font-size: 14px;
  font-weight: 550;
}
}
@media (max-width: 480px) {
  .container {
    padding: 0px 12px;
  }
  .course-content{
    padding-bottom: 5vw;
    display: grid;
    grid-template-columns: 1fr;
  }
  .course-img > img{
    width: 100%;
    object-fit: cover;
    height: 300px;
  }
  .course__lists-info{
    margin-top: 3vw;
    row-gap: 1.7vw;
    grid-template-columns: 1fr;
  }
  .course__info-content{
    text-align: center;
  }
  .course__info-content > p{
    margin-top: 1vw;
  }
  .course-name{
    font-size: 16px;
  }
  .action-icon{
    column-gap: 10vw;
    max-width:200px ;
    margin: 0 auto;
  }
  .icon-item > i > p{
    font-size: 10px;
  }
  .course-title{
    margin: 1.5vw 0 0 1rem;
  }
  .lists-button{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 4vw;
    margin-top: 3vw;
  }
  .lists-button > a {
    display: flex;
    margin: 0 auto;
    min-width: 10px;
    width: 220px;
    padding: 12px 9px;
    font-size: 14px;
  }
.about-course{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr;
    row-gap: 20px;
  }
  .bio__about-course{
    grid-area: 2 / 1 / 3 / 2;
    max-width: 100%;
    height: auto;
  }
  .side-bar{
    grid-area: 1 / 1 / 2 / 2;
    height: auto;
    position: static;
    max-width: 100%;
    height: 200px;
  }
  .side-bar__item{
    padding-bottom:4vw;
  }
  .section-title,
  .side-bar__title
  {
    font-size: 18px;
  }
  .course__info-content > p,
  .course-title > p,
  .overview-content > p,
.learning-content > p,
.disclaimer-content > p,
.author-content > p,
.recognition-content >p,
.author-career > p ,
.organization-about > p {
  font-size: 14px;
  line-height: 6vw;
}
.learning-content > ul > li,
.disclaimer-content > ul > li {
  font-size: 14px;
  line-height: 30px;
}
.lists-overview > li{
  display: grid;
  grid-template-columns: 1fr;
}
.overview__content-item > p {
  font-size: 14px;
  font-weight: 550;
  line-height: 22px;
  margin-left: 0;
}
.overview__name-item > p {
  font-size: 14px;
}
.author-img > img {
  width: 60%;
}
.author-career{
  margin-left: 10vw;
}
.author-career > a{
  font-size: 14px;
}
.organization{
  margin-top: 1rem;
}
.organization-name{
  font-size: 14px;
  font-weight: 550;
}
}
