.footer__col-2  {
  width: 23%;
  float: left;
  margin-top: 25px;
}

.footer__col-2 ul li{
  margin: 10px 0;
}

.footer__col-2 ul li a {
  color: white;
}

.footer__col-3  {
  width: 23%;
  float: left;
  margin-top: 25px;
}

.footer__col-3 ul li{
  margin: 10px 0;
}

.footer__col-3 ul li a {
  color: white;
}