.footer__social-media{
  width: 100%;
  display: flex;
  margin: 10px 0;
}

.footer__social-media li {
  display: flex;
  float: left;
  margin-left: 0px;
  margin-right: 10px;
}

.footer__social-logo-wrapper{
  width: 30px;
  height: 30px;
  display: flex;
  margin-left: 0px;
  margin-right: 10px;
  padding: 5px;
  background-color: #557580;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  
  
}

.footer__social-media a:hover {
  background-color: var(--color1-hover);
}

.footer__social-media a{
  position: relative;
  width: 20px;
  height: 20px;
  padding: 8px;
  display: flex;
  background-color: var(--color1);
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1.2rem;
}

.footer__social-logo-wrapper i{
  background-color: transparent;
  color: white;
}