
.navbar {
    height: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    justify-content: space-around;
    list-style: none;
    background-color: var(--color1);
}

.navbar li {
    border-right: 1px solid #fff;
}

.navbar li:last-child{
    border-right: none;
}

.nav-button {
    position: relative;
    height: 60px;
    width: 100%;
    border: none;

    font-size: 18px;
    text-align: center;
    padding: 0 15px ;
    color: #ffffff;
    background-color: var(--color1);
    /* position: -webkit-sticky; */ /* Safari */
    /* position: sticky; */
}

.nav-button:hover {
    cursor: pointer;
    background-color: #e2e2e2;
    color: var(--color1) ;
    text-decoration: underline;
}

.nav-button:active {
    background-color: #e2e2e2;
    color: var(--color1);
    text-decoration: underline;
}

