.nav-button:hover {
    background-color: #e2e2e2;
    color: #0f55a6 ;
    text-decoration: underline;
}

.nav-button:active {
    background-color: #e2e2e2;
    color: #0f55a6;
    text-decoration: underline;
}