
/* DROPDOWN MENU */
.dropdown-menu {
    width: 300px;
    display: none;
    position: absolute;
    background-color: #e2e2e2;
    min-width: 160px;
    box-shadow: 0px 6px 16px -100px rgba(1,1,1,0.7);
    z-index: 1;
}

.dropdown-menu a {
    color: #0f55a6;
    padding: 10px 15px ;
    text-decoration: none;
    display: block;
}

.dropdown-item:hover {
    text-decoration: underline;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown:hover .nav-button {
    /* background-color: #e2e2e2; */
    color: #0f55a6 ;
    text-decoration: underline;
}