<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous" />
  <script src="https://kit.fontawesome.com/1fb8bb996b.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <link rel="stylesheet" href="./css/styles.css">
  <link rel="stylesheet" href="./css/HomePage.css">
  <link rel="stylesheet" href="./css/header.css" />
  <link rel="stylesheet" href="./css/footer.css" />
  <link rel="stylesheet" href="./css/main.css">

  <link rel="icon" href="/public/images/favicon.jpg">

  <script src="/js/include.js"></script>
  <script src="/js/header-footer.js"></script>
  <script src="/js/data.js"></script>
  <script src="/js/homepage.js"></script>
  <title>Home Page</title>
</head>


<body>
  <div id="includeHeader"> </div>
  <main id="homepageApp" ng-controller="homepageAppCtrl">
    <div class="hero container-fluid">
      <img src="./public/images/homePage-Hero.jpg" alt="">
      <div class="hero-title">
        <p>Healthy teeth, happy you.</p>
      </div>
    </div>

    <div class="top-news container">
      <div class="row">
        <div class="highlightArticle">
          <div class="img-placeholder">
            <a href={{highlightArticle.link}}> <img ng-src={{highlightArticle.img}} alt=""></a>
          </div>
          <div class="card-content">
            <a href={{highlightArticle.link}} class="card__title">
              <h2 class="card__title-text" href="#">{{highlightArticle.title}}</h2>
            </a>
            <div class="card__byline-block">
              <span class="card__byline">By {{highlightArticle.author}}</span>
            </div>
            <p class="highlightArticle-des">{{highlightArticle.des}}</p>
          </div>

        </div>
        <div class="top-news__latest-news">
          <h2 class="latest-news__title">Latest news</h2>
          <div class="card-list">
            <a ng-repeat="article in notHighlightArticles|limitTo: 5" href={{article.link}} class="card-list-item">
              <div class="card__content">
                <span class="card__title">{{article.title}}</span>
                <div class="card__byline">
                  <div class="card__time-stamp">
                    <span class="card__byline-text">{{article.date}}</span>
                  </div>
                  <div class="card__author">
                    <span class="card__byline-text">By {{article.author}}</span>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="promo">
          <div class="promo__video">
            <!-- <video autoplay loop playsinline muted
              src="https://www.health.com/thmb/WkfWoRLgvLMe_j0cz7PWEnWyATk=/1000x1000/filters:gifv(webm)/Health_WIWIK_HIV-cf9fd2d7c5554fd3a56fa4cb42e84c8e.gif">
            </video> -->
            <iframe
              src="https://www.youtube.com/embed/PwMeo4GAkNc?rel=0&amp;controls=0&amp;start=5&amp;autoplay=1&amp;mute=1&amp;loop=1"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
          </div>
          <div class="promo_title">
            <a href="https://www.youtube.com/watch?v=PwMeo4GAkNc&ab_channel=Health">
              6 Ways to Keep Your Smile Healthy
            </a>
          </div>
        </div>
        <div class="trending-topics">
          <div class="trending-topics__title">Trending Helth Topics</div>
          <div class="trending-topics__tags">
            <a href="/pages/patientEdu/patientEdu.html" ng-click="saveFilterValue('symptom')" class="button">
              <span>symptom</span>
            </a>
            <a href="/pages/patientEdu/patientEdu.html" ng-click="saveFilterValue('advice')" class="button">
              <span>advice</span>
            </a>
            <a href="/pages/research/research.html" ng-click="saveFilterValue('data-mining')" class="button">
              <span>data-mining</span>
            </a>

          </div>
        </div>
      </div>
    </div>

    <!-- COUNT -->

    <div class="counter container" ng-show="counterItemShow">
      <div class="counter-item">
        <div class="counter-img">
          <i class="fa-solid fa-newspaper"></i>
        </div>
        <div class="counter-number">
          <p>{{counterArticle| number:0}}</p>
        </div>
        <div class="counter-measure">
          Articles
        </div>
      </div>
      <div class="counter-item">

        <div class="counter-img">
          <i class="fa-solid fa-users"></i>
        </div>
        <div class="counter-number">
          <p>{{counterUser | number:0}}</p>
        </div>
        <div class="counter-measure">
          Users
        </div>
      </div>
      <div class="counter-item">

        <div class="counter-img">
          <i class="fa-solid fa-user-doctor"></i>
        </div>
        <div class="counter-number">
          <p>{{counterDoctor | number:0}}</p>
        </div>
        <div class="counter-measure">
          Doctors
        </div>
      </div>


    </div>

    <div class="patient-edu container">
      <div class="section__title">
        <h2>NEWS</h2>
        <div class="see-more">
          <a href="/pages/patientEdu/patientEdu.html" class="see-more-link">View all <i
              class="fa-solid fa-circle-arrow-right"></i></a>
        </div>
      </div>
      <ul class="patient-edu__lists">
        <li ng-repeat="article in patientEduArticles|limitTo: 4" class="patient-edu__item">
          <a class="patient-edu__item-link" href={{article.link}}>

            <img class="patient-edu__item-pic-img" ng-src={{article.img}} alt="">

            <div class="patient-edu__item-text">
              <div class="patient-edu__item-title">{{article.title}}</div>
              <div class="patient-edu__item-content">{{article.des}}</div>
            </div>
          </a>
        </li>
      </ul>
    </div>

    <div class="pro-edu container">
      <div class="section__title">
        <h2>PROFESSIONAL EDUCATION</h2>
        <div class="see-more">
          <a href="/pages/Professional-edu/pro-courses.html" class="see-more-link">View all <i
              class="fa-solid fa-circle-arrow-right"></i></a>
        </div>
      </div>
      <ul class="pro-edu__list">
        <a href={{article.link}} ng-repeat="article in courseList | limitTo: 3" class="pro-edu__item">
          <img class="pro-edu__item-pic" ng-src="{{article.img}}" alt={{article.title}} />
          <span class="pro-edu__item-title">{{article.title}}</span>
        </a>
      </ul>
    </div>

    <div class="research container">
      <div class="section__title">
        <h2>RESEARCH</h2>
        <div class="see-more">
          <a href="/pages/research/research.html" class="see-more-link">View all <i
              class="fa-solid fa-circle-arrow-right"></i></a>
        </div>
      </div>
      <div class="research-tags">
        <a ng-repeat="tag in tagArray | orderBy : '-count'" ng-click="saveFilterValue(tag.tag)"
          href="/pages/research/research.html" class="button">
          {{tag.tag}}</a>
      </div>
      <div class="research-lists">
        <a ng-repeat="article in researchArticles| orderBy:'-date' | limitTo:3" class="research-list"
          href={{article.link}}>
          <img ng-src={{article.img}} alt={{article.title}} />
          <h3 class="research-lists__item-title">{{article.title}}</h3>
        </a>
      </div>
    </div>

    <div class="products container">
      <div class="section__title">
        <h2>PRODUCT</h2>
        <div class="see-more">
          <a href="/pages/Products/products.html" class="see-more-link">View all <i
              class="fa-solid fa-circle-arrow-right"></i></a>
        </div>
      </div>
      <ul class="products-list">
        <a ng-repeat="product in productList|orderBy:'-date' | limitTo:3" class="products-list-item"
          href={{product.link}}>
          <img ng-src="{{product.img}}" alt="{{product.title}}" />
          <h3 class="products-list__item-title">{{product.title}}</h3>

        </a>
      </ul>
    </div>
  </main>

  <div id="includeFooter"></div>
  <script>
    angular.bootstrap(document.getElementById('homepageApp'), ['HomepageApp'])
  </script>
</body>

</html>