.patient-edu__lists{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.patient-edu__item{
  flex: 0 0 calc(50% - 30px);
  margin-bottom: 1.5rem;

}

.patient-edu__item a{
  display: flex;
}

.patient-edu__item a:hover .patient-edu__item-title{
  color: var(--color3);
  opacity: 0.8;
}

.patient-edu__item a:hover{
  opacity: 0.7;
}

.patient-edu__item-pic{
  width: 145px;
  margin-right: 0.75rem;
}

.patient-edu__item-pic img{
  width: 145px;
  border-radius: var(--border-radius-small);
}

.patient-edu__item-text{
  color: black;
}

.patient-edu__item-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.patient-edu__item-content{
  margin: 1.5rem 0 3rem;
}