.products {
  margin-bottom: 4rem;
}

.products-list {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
}

.products-list a {
  width: 100%;
}

.products-list a:hover {
  opacity: 0.8;
}

.products-list a:hover .products-list__item-title {
  color: var(--color3);
}

.products-list a img {
  width: 100%;
  border-radius: var(--border-radius-big);
  background-color: #fff;
}

.products-list__item-title {
  padding: 1rem 0 0;
  margin-bottom: 0.5rem;
}
