.research {
  margin-bottom: 4rem;
}

.research-tags {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.research-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
}

.research-list a {
  width: 100%;
}

.research-list a:hover {
  opacity: 0.8;
}

.research-list a:hover .research-list__item-title {
  color: var(--color3);
}

.research-list a img {
  width: 100%;
  border-radius: var(--border-radius-big);
}

.research-list__item-title {
  padding: 1rem 0 0;
  margin-bottom: 0.5rem;
}

.research-list__item-content {
  font-size: 0.9rem;
}
