*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
    --margin-width: 15%;

  
    --color1: #0f55a6;
    --color1-hover: #1873dc;
    --color2: #15ABDB;
   
    
 }
 .banner{
    width: 100%;
    background-image: url('./img/120039kham-rang.jpg');
    height:600px;
    margin-top: 40px;
 }
.products {
    margin: 0 var(--margin-width);
    margin-top: 50px;
   
    
}
.list-products{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}
.list-products .item{
    width: 300px;
    height: 400px;
    background: #1873dc;
    border-radius: 10px;
    margin-bottom: 50px;
    border: 1px solid #ccc  ;

}
.list-products .item img{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    

}
.text-heading{
    font-size: 50px;
    font-weight: bold;
    
    
}
.content-banner{
    color:#0f55a6;
    position: absolute;
    width: 600px;
    padding-top: 100px;
    line-height: 1.5;
    margin-left: 20px;
   
}
.card-img-top{
  width: 300px;
}

.list-products .item .name{
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin-top: 5px;
    font-size: 25px;
}
.list-products .item .img-card{
    width: 300px;
    height: 300px;
}

.list-products .item .sub a{
  color: black;
  padding: 10px 5px;
  background-color: #fff;
  border-radius: 13px;
  font-size: 12px;
  margin-left: 100px;
  font-size: 15px;
  letter-spacing: 1px;
 
}
.list-products .item .sub{
    margin-top: 9px;
}
.list-products .item .sub a:hover{
    color: #fff;
    background-color:#15ABDB;
    transform: scale(0.9);
}


