<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous" />
  <script src="https://kit.fontawesome.com/1fb8bb996b.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
  <link rel="stylesheet" href="../../../../../css/styles.css">
  <link rel="stylesheet" href="../../../../../css/header.css">
  <link rel="stylesheet" href="../../../../../css/footer.css">
  <link rel="stylesheet" href="../../../research-article.css">
  <link rel="stylesheet" href="../../../research-article-sub-page.css">


  <link rel="icon" href="../../../../../public/images/favicon.jpg">


  <script src="../../../../../js/header-footer.js"></script>
  <title>Table 1</title>
</head>


<body>
  <header class="container-fluid">
    <input type="checkbox" class="nav__input" id="nav-mobile-input">
    <div class="logo-search-login container" id="logo-search-login-1">
      <div class="logo">
        <img src="../../../../../public/images/logo.svg" alt="Logo" />
      </div>
      <div class="search-group">
        <input type="text" class="search-input" placeholder="Search in 32SMILES" aria-label="Search"
          aria-describedby="basic-addon1" />
        <span class="search-group-icon" id="basic-addon1">
          <i class="fas fa-search"></i>
        </span>
      </div>
      <div class="login">
        <a href="../../../../../pages/Signin-Signup/signIn-signUp.html" class="login_login">Sign in</a>
        <label for="nav-mobile-input" class="nav-mobile__menu-btn"><i class="fa-solid fa-bars"></i></label>
      </div>
    </div>

    <div class="logo-search-login-small container" id="logo-search-login-2">
      <div class="logo">
        <img src="../../../../../public/images/logo.svg" alt="Logo" />
      </div>
      <ul class="nav-bar container" id="smallNav">
        <li class="nav-bar__item-1">
          <a href="" class="nav-bar__link-1">HOME</a>
          <ul class="nav-bar__list-2">
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          </ul>
        </li>
        <li class="nav-bar__item-1">
          <a href="" class="nav-bar__link-1">PROFESSIONAL EDUCATION</a>
          <ul class="nav-bar__list-2">
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          </ul>
        </li>
        <li class="nav-bar__item-1">
          <a href="" class="nav-bar__link-1">PATIENTS EDUCATION</a>
          <ul class="nav-bar__list-2">
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          </ul>
        </li>
        <li class="nav-bar__item-1">
          <a href="" class="nav-bar__link-1">RESEARCH</a>
          <ul class="nav-bar__list-2">
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          </ul>
        </li>
        <li class="nav-bar__item-1">
          <a href="" class="nav-bar__link-1">PRODUCTS</a>
          <ul class="nav-bar__list-2">
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          </ul>
        </li>
        <li class="nav-bar__item-1">
          <a href="" class="nav-bar__link-1">CONTACT US</a>
          <ul class="nav-bar__list-2">
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          </ul>
        </li>
      </ul>
      <div class="login">
        <a href="../../pages/Signin-Signup/signIn-signUp.html" class="login_login">Sign in</a>
        <label for="nav-mobile-input" class="nav-mobile__menu-btn"><i class="fa-solid fa-bars"></i></label>
      </div>
    </div>
    <ul class="nav-bar container" id="mainNav">
      <li class="nav-bar__item-1">
        <a href="" class="nav-bar__link-1">HOME</a>
        <ul class="nav-bar__list-2">
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
        </ul>
      </li>
      <li class="nav-bar__item-1">
        <a href="" class="nav-bar__link-1">PROFESSIONAL EDUCATION</a>
        <ul class="nav-bar__list-2">
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
        </ul>
      </li>
      <li class="nav-bar__item-1">
        <a href="" class="nav-bar__link-1">PATIENTS EDUCATION</a>
        <ul class="nav-bar__list-2">
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
        </ul>
      </li>
      <li class="nav-bar__item-1">
        <a href="" class="nav-bar__link-1">RESEARCH</a>
        <ul class="nav-bar__list-2">
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
        </ul>
      </li>
      <li class="nav-bar__item-1">
        <a href="" class="nav-bar__link-1">PRODUCTS</a>
        <ul class="nav-bar__list-2">
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
        </ul>
      </li>
      <li class="nav-bar__item-1">
        <a href="" class="nav-bar__link-1">CONTACT US</a>
        <ul class="nav-bar__list-2">
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
        </ul>
      </li>
    </ul>



    <label for="nav-mobile-input" class="nav__overlay"></label>

    <di class="nav-mobile">
      <label for="nav-mobile-input" class="nav-mobile-close"><i class="fa-solid fa-xmark"></i></label>
      <div class="nav-mobile__search">
        <div class="nav-mobile__search-wrapper">
          <span class="nav-mobile__search-icon" id="basic-addon1">
            <i class="fas fa-search"></i>
          </span>
          <input type="text" class="nav-mobile__search-input" placeholder="Search in 32SMILES" aria-label="Search"
            aria-describedby="basic-addon1" />
        </div>
      </div>
      <ul class="nav-mobile__list-1">
        <li class="nav-mobile__item-1">
          <a href="" class="nav-mobile__link-1">HOME</a>
        </li>
        <li class="nav-mobile__item-1">
          <a href="" class="nav-mobile__link-1">PROFESSIONAL EDUCATION</a>
        </li>
        <li class="nav-mobile__item-1">
          <a href="" class="nav-mobile__link-1">PATIENTS EDUCATION</a>
        </li>
        <li class="nav-mobile__item-1">
          <a href="" class="nav-mobile__link-1">RESEARCH</a>
        </li>
        <li class="nav-mobile__item-1">
          <a href="" class="nav-mobile__link-1">PRODUCTS</a>
        </li>
        <li class="nav-mobile__item-1">
          <a href="" class="nav-mobile__link-1">CONTACT US</a>
        </li>
      </ul>
    </di>

  </header>

  <main class="container sub-page-all">
    <div class="sub-page-header">
      <h1 class="sub-page-title">Table 2 Specifics of the CNN architectures applied and tested in this study.</h1>
      <p class="sub-page-satellite">From: <a href="../../article-0002.html">Diagnostic performance of convolutional
          neural networks for dental sexual dimorphism</a></p>
    </div>
    <div class="sub-page-content">
      <div class="article-table-container">
        <table class="article-page-table">
          <thead class="article-page-table__head">
            <tr>
              <th rowspan="2" class="table-text-left ">
                <p>Model</p>
              </th>
              <th rowspan="2" class="table-text-left ">
                <p>Size (MB)</p>
              </th>
              <th rowspan="2" class="table-text-left ">
                <p>Parameters (M)</p>
              </th>
              <th rowspan="2" class="table-text-left ">
                <p>Depth</p>
              </th>
              <th rowspan="2" class="table-text-left ">
                <p>Image size</p>
              </th>
              <th class="table-text-left " colspan="5">
                <p>Hyperparameters</p>
              </th>
            </tr>
            <tr>
              <th class="table-text-left ">
                <p>Optimization algorithm</p>
              </th>
              <th class="table-text-left ">
                <p>Batch size</p>
              </th>
              <th class="table-text-left ">
                <p>Momentum</p>
              </th>
              <th class="table-text-left ">
                <p>Weight decay</p>
              </th>
              <th class="table-text-left ">
                <p>Learning rate</p>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="table-text-left ">
                <p>DenseNet121</p>
              </td>
              <td class="table-text-left ">
                <p>33</p>
              </td>
              <td class="table-text-char ">
                <p>8.1</p>
              </td>
              <td class="table-text-left ">
                <p>121</p>
              </td>
              <td class="table-text-left ">
                <p>224&times;224</p>
              </td>
              <td rowspan="8" class="table-text-left ">
                <p>SGD</p>
              </td>
              <td rowspan="8" class="table-text-left ">
                <p>32</p>
              </td>
              <td rowspan="8" class="table-text-left ">
                <p>0.9</p>
              </td>
              <td rowspan="8" class="table-text-left ">
                <p>1e-4 ~ 1e-6</p>
              </td>
              <td rowspan="8" class="table-text-left ">
                <p>Base Ir=0.001</p>
                <p>Max Ir=0.00006</p>
                <p>Step size=100</p>
                <p>Mode: triangular</p>
              </td>
            </tr>
            <tr>
              <td class="table-text-left ">
                <p>ResNet50</p>
              </td>
              <td class="table-text-left ">
                <p>98</p>
              </td>
              <td class="table-text-char ">
                <p>25.6</p>
              </td>
              <td class="table-text-left ">
                <p>107</p>
              </td>
              <td class="table-text-left ">
                <p>224&times;224</p>
              </td>
            </tr>
            <tr>
              <td class="table-text-left ">
                <p>ResNet101</p>
              </td>
              <td class="table-text-left ">
                <p>171</p>
              </td>
              <td class="table-text-char ">
                <p>44.7</p>
              </td>
              <td class="table-text-left ">
                <p>209</p>
              </td>
              <td class="table-text-left ">
                <p>224&times;224</p>
              </td>
            </tr>
            <tr>
              <td class="table-text-left ">
                <p>Xception</p>
              </td>
              <td class="table-text-left ">
                <p>88</p>
              </td>
              <td class="table-text-char ">
                <p>22.9</p>
              </td>
              <td class="table-text-left ">
                <p>81</p>
              </td>
              <td class="table-text-left ">
                <p>299&times;299</p>
              </td>
            </tr>
            <tr>
              <td class="table-text-left ">
                <p>InceptionV3</p>
              </td>
              <td class="table-text-left ">
                <p>92</p>
              </td>
              <td class="table-text-char ">
                <p>23.9</p>
              </td>
              <td class="table-text-left ">
                <p>189</p>
              </td>
              <td class="table-text-left ">
                <p>299&times;299</p>
              </td>
            </tr>
            <tr>
              <td class="table-text-left ">
                <p>InceptionResNetV2</p>
              </td>
              <td class="table-text-left ">
                <p>215</p>
              </td>
              <td class="table-text-char ">
                <p>55.9</p>
              </td>
              <td class="table-text-left ">
                <p>449</p>
              </td>
              <td class="table-text-left ">
                <p>299&times;299</p>
              </td>
            </tr>
            <tr>
              <td class="table-text-left ">
                <p>VGG16</p>
              </td>
              <td class="table-text-left ">
                <p>526</p>
              </td>
              <td class="table-text-char ">
                <p>138.4</p>
              </td>
              <td class="table-text-left ">
                <p>16</p>
              </td>
              <td class="table-text-left ">
                <p>224&times;224</p>
              </td>
            </tr>
            <tr>
              <td class="table-text-left ">
                <p>MobileNetV2</p>
              </td>
              <td class="table-text-left ">
                <p>14</p>
              </td>
              <td class="table-text-char ">
                <p>3.5</p>
              </td>
              <td class="table-text-left ">
                <p>105</p>
              </td>
              <td class="table-text-left ">
                <p>224&times;224</p>
              </td>
            </tr>
          </tbody>
        </table>


      </div>

      <p class="sub-page-footer">CNN Convolutional Neural Network, MB MegaBytes, M Million Parameters, SGD Stochastic
        Gradient Descent.</p>
    </div>
    <div class="link-right">
      <a class="article__pill-button" href="../../article-0002.html">
        <span>Back to article page</span>
        <i class="fa-solid fa-angle-right"></i>
      </a>
    </div>
  </main>

  <footer>
    <div class="footer-area container">
      <div class="footer__info">
        <div class="row footer__info-row">
          <div class="col footer__col-1">
            <div class="footer_subscribe-wrapper" ng-app="myApp" ng-controller="myCtrl">
              <div class="footer__subscribe-title">
                <p>Subscribe</p>
              </div>
              <form name="subscribeForm">
                <div class="footer__subscribe-input-field">
                  <input ng-model="emailInput" class="footer__input-subscribe" type="email"
                    placeholder="Enter your email">
                  <button ng-click="validateEmail()" class="footer__sign-up-button" type="submit">Sign up</button>

                </div>
                <p class="footer__subscribe-error"> {{errorMessage}}</p>
              </form>
              <div class="footer__thanks">
                <span>Thank you for subscribe</span>
              </div>
            </div>

            <ul class="footer__social-media">
              <li>
                <a href="#"><i class="fa-brands fa-facebook-f"></i></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-pinterest"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-tiktok"></i></a>
              </li>
            </ul>
          </div>
          <div class="col footer__col-2">
            <ul>
              <li><a href="">Patient education</a></li>
              <li><a href="">Professional education</a></li>
              <li><a href="">Research</a></li>
              <li><a href="">Product</a></li>
            </ul>
          </div>
          <div class="col footer__col-3">
            <ul>
              <li><a href="">About us</a></li>
              <li><a href="">Careers</a></li>
              <li><a href="">Site map</a></li>
              <li><a href="">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- <script type="text/babel" src="subscribe.js"></script> -->
</body>

</html>