.product-banner {
    background: url(./public/product-banner-element.png);
    
}

.desc-img {
    background: url(../public-item/io9-card-fix.png);
    background-size: cover;
  background-position: center center;
}
