<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous" />
  <script src="https://kit.fontawesome.com/1fb8bb996b.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
  <link rel="stylesheet" href="../../css/header.css">
  <link rel="stylesheet" href="../../css/footer.css">
  <link rel="stylesheet" href="../Research/css/research.css">

  <link rel="icon" href="../../public/images/favicon.jpg">


  <script src="../../js/header-footer.js"></script>
  <title>Research in dentistry</title>
</head>


<body>
  <header class="container-fluid">
    <input type="checkbox" class="nav__input" id="nav-mobile-input">
    <div class="logo-search-login container" id="logo-search-login-1">
      <div class="logo">
        <img src="../../public/images/logo.svg" alt="Logo" />
      </div>
      <div class="search-group">
        <input type="text" class="search-input" placeholder="Search in 32SMILES" aria-label="Search"
          aria-describedby="basic-addon1" />
        <span class="search-group-icon" id="basic-addon1">
          <i class="fas fa-search"></i>
        </span>
      </div>
      <div class="login">
        <a href="../../pages/Signin-Signup/signIn-signUp.html" class="login_login">Sign in</a>
        <label for="nav-mobile-input" class="nav-mobile__menu-btn"><i class="fa-solid fa-bars"></i></label>
      </div>
    </div>

    <div class="logo-search-login-small container" id="logo-search-login-2">
      <div class="logo">
        <img src="../../public/images/logo.svg" alt="Logo" />
      </div>
      <ul class="nav-bar container" id="smallNav">
        <li class="nav-bar__item-1">
          <a href="" class="nav-bar__link-1">HOME</a>
          <ul class="nav-bar__list-2">
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          </ul>
        </li>
        <li class="nav-bar__item-1">
          <a href="" class="nav-bar__link-1">PROFESSIONAL EDUCATION</a>
          <ul class="nav-bar__list-2">
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          </ul>
        </li>
        <li class="nav-bar__item-1">
          <a href="" class="nav-bar__link-1">PATIENTS EDUCATION</a>
          <ul class="nav-bar__list-2">
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          </ul>
        </li>
        <li class="nav-bar__item-1">
          <a href="" class="nav-bar__link-1">RESEARCH</a>
          <ul class="nav-bar__list-2">
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          </ul>
        </li>
        <li class="nav-bar__item-1">
          <a href="" class="nav-bar__link-1">PRODUCTS</a>
          <ul class="nav-bar__list-2">
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          </ul>
        </li>
        <li class="nav-bar__item-1">
          <a href="" class="nav-bar__link-1">CONTACT US</a>
          <ul class="nav-bar__list-2">
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          </ul>
        </li>
      </ul>
      <div class="login">
        <a href="../../pages/Signin-Signup/signIn-signUp.html" class="login_login">Sign in</a>
        <label for="nav-mobile-input" class="nav-mobile__menu-btn"><i class="fa-solid fa-bars"></i></label>
      </div>
    </div>
    <ul class="nav-bar container" id="mainNav">
      <li class="nav-bar__item-1">
        <a href="" class="nav-bar__link-1">HOME</a>
        <ul class="nav-bar__list-2">
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
        </ul>
      </li>
      <li class="nav-bar__item-1">
        <a href="" class="nav-bar__link-1">PROFESSIONAL EDUCATION</a>
        <ul class="nav-bar__list-2">
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
        </ul>
      </li>
      <li class="nav-bar__item-1">
        <a href="" class="nav-bar__link-1">PATIENTS EDUCATION</a>
        <ul class="nav-bar__list-2">
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
        </ul>
      </li>
      <li class="nav-bar__item-1">
        <a href="" class="nav-bar__link-1">RESEARCH</a>
        <ul class="nav-bar__list-2">
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
        </ul>
      </li>
      <li class="nav-bar__item-1">
        <a href="" class="nav-bar__link-1">PRODUCTS</a>
        <ul class="nav-bar__list-2">
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
        </ul>
      </li>
      <li class="nav-bar__item-1">
        <a href="" class="nav-bar__link-1">CONTACT US</a>
        <ul class="nav-bar__list-2">
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
        </ul>
      </li>
    </ul>



    <label for="nav-mobile-input" class="nav__overlay"></label>

    <di class="nav-mobile">
      <label for="nav-mobile-input" class="nav-mobile-close"><i class="fa-solid fa-xmark"></i></label>
      <div class="nav-mobile__search">
        <div class="nav-mobile__search-wrapper">
          <span class="nav-mobile__search-icon" id="basic-addon1">
            <i class="fas fa-search"></i>
          </span>
          <input type="text" class="nav-mobile__search-input" placeholder="Search in 32SMILES" aria-label="Search"
            aria-describedby="basic-addon1" />
        </div>
      </div>
      <ul class="nav-mobile__list-1">
        <li class="nav-mobile__item-1">
          <a href="" class="nav-mobile__link-1">HOME</a>
        </li>
        <li class="nav-mobile__item-1">
          <a href="" class="nav-mobile__link-1">PROFESSIONAL EDUCATION</a>
        </li>
        <li class="nav-mobile__item-1">
          <a href="" class="nav-mobile__link-1">PATIENTS EDUCATION</a>
        </li>
        <li class="nav-mobile__item-1">
          <a href="" class="nav-mobile__link-1">RESEARCH</a>
        </li>
        <li class="nav-mobile__item-1">
          <a href="" class="nav-mobile__link-1">PRODUCTS</a>
        </li>
        <li class="nav-mobile__item-1">
          <a href="" class="nav-mobile__link-1">CONTACT US</a>
        </li>
      </ul>
    </di>

  </header>
  
  <main class="container">
    <article class="research-article">
        <div class="research">
            <h1>Research in Dentistry</h1>
            <p class="demo">"At our dental practice, we believe that staying at the forefront of dental research is essential in providing the best possible care to our patients"</p>
            <section class="overview">
                <div class="title">
                    <h2>Overview</h2>
                </div>
                <div class="overview-content">
                    <div class="overview-bio">
                        <p>
                            Oral health research is a critical aspect of the study of oral health and is essential for advancing our understanding of oral health conditions, treatments, and technologies. This research helps to improve patient outcomes and to provide healthcare professionals with the information they need to provide the best possible care for their patients.
                        </p>
                        <p>
                            The importance of oral health research lies in its ability to improve patient outcomes and advance the field of dentistry. Research helps to identify the causes of oral health problems, to develop new treatments and technologies, and to evaluate the effectiveness of existing treatments and technologies.
                        </p>
                        <p>
                            By prioritizing oral health research, we can work to ensure that everyone has access to the best possible care for their oral health needs.
                        </p>
                    </div>
                </div>
            </section>
            <section class="latest-research">
                <div class="title">
                    <h2>Latest Research Findings</h2>
                </div>
                <div class="latest-tags">
                    <a href="#">
                        <span>
                            Biomaterials
                        </span>
                    </a>
                    <a href="#">
                        <span>
                            Teledentistry
                        </span>
                    </a>
                    <a href="#">
                        <span>
                            Precision dentistry
                        </span>
                    </a>
                    <a href="#">
                        <span>
                            Regenerative dentistry
                        </span>
                    </a>
                    <a href="#">
                        <span>
                            Microbiome 
                        </span>
                    </a>
                    <a href="#">
                        <span>
                            Saliva diagnostics
                        </span>
                    </a>
                    <a href="#">
                        <span>
                            Digital dentistry
                        </span>
                    </a>
                    <a href="#">
                        <span>
                            Orthodontic treatments
                        </span>
                    </a>
                    <a href="#">
                        <span>
                            Tooth decay prevention
                        </span>
                    </a>  
                    <a href="#">
                        <span>
                            Minimally invasive dentistry
                        </span>
                    </a>
                </div>
                <div class="latest-content">
                    <div class="latest-bio">
                        <a href="#" class="latest-card">
                            <div class="img-card">
                                <img src="../Research/public/Magnetic_Resonance_Imaging-310x240.webp" alt="">
                            </div>
                            <div class="main-card">
                                <span class="text-card">
                                    People with poor oral health may be more likely to show signs of declining brain health.
                                </span>
                            </div>
                        </a>
                        <a href="#" class="latest-card">
                            <div class="img-card">
                                <img src="../Research/public/Osteoporosis_stage_3_of_4_-_upper_limb_bones_-_3d_rendering_-_Crevis_M1_65a1e809a84641659dac222f766c7038-150x125.webp" alt="">
                            </div>
                            <div class="main-card">
                                <span class="text-card" >
                                    RUDN University dentist implements new approach to treating inflammation of periodontal tissues.
                                </span>
                            </div>
                        </a>
                        <a href="#" class="latest-card">
                            <div class="img-card">
                                <img src="../Research/public/ImageForNews_734620_44923455563657415997.jpg-150x125.webp" alt="">
                            </div>
                            <div class="main-card">
                                <span class="text-card">
                                    How could probiotics be used in the management of gingivitis and periodontitis?
                                </span>
                            </div>
                        </a>
                        <a href="#" class="latest-card">
                            <div class="img-card">
                                <img src="../Research/public/istockphoto-1094355628-612x612_62c6f0f9e8e6b.jpg" alt="">
                            </div>
                            <div class="main-card">
                                <span class="text-card">
                                    Small but powerful: Microrobots may enhance endodontic treatments.
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
            <section class="clinical-trials">
                <div class="title">
                    <h2>Clinicals Trials</h2>
                </div>
                <div class="clinical-content">
                  <div class="patients-card">
                    <img src="../Research/public/clinical-trials-cropped.jpg" alt="">
                    <div class="content-card">
                         <a href="#">Why should I participate in a clinical trial?</a>
                         <p>It’s your involvement that helps researchers to ultimately uncover better ways to treat, prevent, diagnose and understand human disease.</p>
                    </div>
                 </div>
                 <div class="patients-card">
                  <img src="../Research/public/clinical-trials-cropped.jpg" alt="">
                  <div class="content-card">
                       <a href="#">Why should I participate in a clinical trial?</a>
                       <p>It’s your involvement that helps researchers to ultimately uncover better ways to treat, prevent, diagnose and understand human disease.</p>
                  </div>
               </div>
               <div class="patients-card">
                <img src="../Research/public/clinical-trials-cropped.jpg" alt="">
                <div class="content-card">
                     <a href="#">Why should I participate in a clinical trial?</a>
                     <p>It’s your involvement that helps researchers to ultimately uncover better ways to treat, prevent, diagnose and understand human disease.</p>
                </div>
               </div>
               <div class="patients-card">
                <img src="../Research/public/clinical-trials-cropped.jpg" alt="">
                <div class="content-card">
                     <a href="#">Why should I participate in a clinical trial?</a>
                     <p>It’s your involvement that helps researchers to ultimately uncover better ways to treat, prevent, diagnose and understand human disease.</p>
                </div>
             </div>
             <div class="patients-card">
              <img src="../Research/public/clinical-trials-cropped.jpg" alt="">
              <div class="content-card">
                   <a href="#">Why should I participate in a clinical trial?</a>
                   <p>It’s your involvement that helps researchers to ultimately uncover better ways to treat, prevent, diagnose and understand human disease.</p>
              </div>
           </div>
           <div class="patients-card">
            <img src="../Research/public/clinical-trials-cropped.jpg" alt="">
            <div class="content-card">
                 <a href="#">Why should I participate in a clinical trial?</a>
                 <p>It’s your involvement that helps researchers to ultimately uncover better ways to treat, prevent, diagnose and understand human disease.</p>
            </div>
         </div>
         <div class="patients-card">
          <img src="../Research/public/clinical-trials-cropped.jpg" alt="">
          <div class="content-card">
               <a href="#">Why should I participate in a clinical trial?</a>
               <p>It’s your involvement that helps researchers to ultimately uncover better ways to treat, prevent, diagnose and understand human disease.</p>
          </div>
       </div>
       <div class="patients-card">
        <img src="../Research/public/clinical-trials-cropped.jpg" alt="">
        <div class="content-card">
             <a href="#">Why should I participate in a clinical trial?</a>
             <p>It’s your involvement that helps researchers to ultimately uncover better ways to treat, prevent, diagnose and understand human disease.</p>
        </div>
     </div>
     <div class="patients-card">
      <img src="../Research/public/clinical-trials-cropped.jpg" alt="">
      <div class="content-card">
           <a href="#">Why should I participate in a clinical trial?</a>
           <p>It’s your involvement that helps researchers to ultimately uncover better ways to treat, prevent, diagnose and understand human disease.</p>
      </div>
   </div>
                
                </div>       
            </section>
            <section class="partnerships">
                <div class="title">
                    <h2>Research Partnerships</h2>
                </div>
                <div class="partnerships-content">
                    <p>
                        Research partnerships between our organization and research institutions can provide numerous benefits for both parties. 
                        These partnerships can help our organization to stay current with the latest advances in oral health research, providing 
                        us with new insights and approaches to patient care. Research institutions, on the other hand, can benefit from the real-world 
                        experience and patient data that our organization can provide, helping them to validate and advance their research findings.
                    </p>
                    <p>
                        Accompanying us are prestigious research organizations such as:
                    </p>
                    <a href="#">American Dental Association (ADA)</a><br>
                    <a href="#">Academy of General Dentistry (AGD)</a><br>
                    <a href="#">National Institute of Dental and Craniofacial Research (NIDCR)</a><br>
                    <p>By working together, our organization and research institutions can collaborate to improve patient outcomes and advance the field of dentistry as a whole. This type of collaboration can lead to the development of new treatments and technologies, as well as the refinement and optimization of existing treatments and technologies.
                    </p>
                </div>
            </section>
            <section class="future">
                <div class="title">
                    <h2>Future of Dental Research</h2>
                </div>
                <div class="future-content">
                    <p>
                        The future of dental research is promising, with many exciting advancements and innovations on the horizon. With advancements in technology, materials science, and digital dentistry, there are many exciting opportunities for researchers to develop new treatments and technologies for improving oral health.
                    </p>
                    <p>
                        One of the main areas of focus for future dental research is the use of digital technologies in patient care. This includes the development of digital tools for diagnosing and treating oral health problems, as well as the use of digital technologies for patient education and engagement.
                    </p>
                    <p>
                        Another area of focus for future dental research is the development of new materials and technologies for improving oral health. This includes the development of new dental materials, such as biocompatible and long-lasting dental implants, as well as the use of regenerative medicine and stem cell therapies for repairing and regenerating damaged or lost teeth and tissues.
                    </p>
                    <p>
                        Overall, the future of dental research is bright, with many exciting advancements and innovations on the horizon. With continued investment in research and innovation, we can look forward to a future in which everyone has access to the best possible care for their oral health needs.
                    </p>
                </div>
            </section>
        </div>
    </article>
</main>

  <footer>
    <div class="footer-area container">
      <div class="footer__info">
        <div class="row footer__info-row">
          <div class="col footer__col-1">
            <div class="footer_subscribe-wrapper" ng-app="myApp" ng-controller="myCtrl">
              <div class="footer__subscribe-title">
                <p>Subscribe</p>
              </div>
              <form name="subscribeForm">
                <div class="footer__subscribe-input-field">
                  <input ng-model="emailInput" class="footer__input-subscribe" type="email"
                    placeholder="Enter your email">
                  <button ng-click="validateEmail()" class="footer__sign-up-button" type="submit">Sign up</button>

                </div>
                <p class="footer__subscribe-error"> {{errorMessage}}</p>
              </form>
              <div class="footer__thanks">
                <span>Thank you for subscribe</span>
              </div>
            </div>

            <ul class="footer__social-media">
              <li>
                <a href="#"><i class="fa-brands fa-facebook-f"></i></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-pinterest"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-tiktok"></i></a>
              </li>
            </ul>
          </div>
          <div class="col footer__col-2">
            <ul>
              <li><a href="">Patient education</a></li>
              <li><a href="">Professional education</a></li>
              <li><a href="">Research</a></li>
              <li><a href="">Product</a></li>
            </ul>
          </div>
          <div class="col footer__col-3">
            <ul>
              <li><a href="">About us</a></li>
              <li><a href="">Careers</a></li>
              <li><a href="">Site map</a></li>
              <li><a href="">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- <script type="text/babel" src="subscribe.js"></script> -->
</body>

</html>