<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous" />
  <script src="https://kit.fontawesome.com/1fb8bb996b.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/header.css" />
  <link rel="stylesheet" href="/css/footer.css" />
  <link rel="stylesheet" href="search-page.css">


  <link rel="icon" href="/public/images/favicon.jpg">

  <script src="/js/header-footer.js"></script>
  <script src="/js/include.js"></script>
  <script src="search-page.js"></script>
  <title>Search Page</title>
</head>


<body>
  <div id="includeHeader"></div>

  <main class="search-page container" id="searchApp" ng-controller="searchAppCtrl">
    <div class="search-page__search">
      <div class="search-page__search-row">
        <form class="search-page__search-col">
          <input class="search-page-input" type="text" placeholder="Search in 32smiles.com" ng-model="searchInput" />
          <button class="search-btn" type="submit" ng-click="handleSearch()">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
      </div>

    </div>
    <div ng-show="isVisible" class="search-page__result">
      <h2 class="search-page__result-title">Result</h2>
      <ul class="search-page__result-list">
        <li ng-repeat="post in filteredPosts | limitTo: pageSize : (currentPage - 1) * pageSize">
          <a ng-href="{{post.link}}" class="search-page__result-item-img">
            <img ng-src=" {{post.img}}" alt="Image for {{ post.title }}" />
          </a>
          <h3 class="search-page__result-item-title"><a ng-href="{{post.link}}">{{post.title}}</a></h3>
          <p class="search-page__result-item-description"><a ng-href="{{post.link}}">{{post.des}}</a></p>
          <div class="search-page__result-item-info">
            <button class="search-page__result-btn" ng-click="handleSearch(post.subject)">{{post.subject}}</button>
            <button class="search-page__result-btn">{{post.tag}}</button>
          </div>
        </li>
      </ul>
    </div>

    <div ng-show="isVisible" class="search-page__movePage">
      <button class="search-page__movePage-btn" ng-disabled="currentPage == 1"
        ng-click="currentPage = currentPage - 1">Prev</button>
      <span class="search-page__movePage-pageOf">Page {{currentPage}} of {{numberOfPages}}</span>
      <button class="search-page__movePage-btn" ng-disabled="currentPage == numberOfPages"
        ng-click="currentPage = currentPage + 1">Next</button>
    </div>
  </main>

  <div id="includeFooter"></div>
  <script type="text/javascript">
    angular.bootstrap(document.getElementById('searchApp'), ['SearchApp']);
  </script>
</body>

</html>