<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous" />
  <script src="https://kit.fontawesome.com/1fb8bb996b.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
  <link rel="stylesheet" href="../../css/styles.css">
  <link rel="stylesheet" href="../../css/header.css">
  <link rel="stylesheet" href="../../css/footer.css">

  <link rel="stylesheet" href="products-001.css">

  <link rel="icon" href="../../public/images/favicon.jpg">


  <script src="../../js/header-footer.js"></script>
  <title>ORAL-B IO</title>
</head>


<body>
  <header class="container-fluid">
    <input type="checkbox" class="nav__input" id="nav-mobile-input">
    <div class="logo-search-login container" id="logo-search-login-1">
      <div class="logo">
        <a href="/index.html"><img src="../../public/images/logo.svg" alt="Logo" /></a>
      </div>

      <div class="topbar-login">
        <a href="/pages/search-page/search-page.html" class="topbar-btn">
          <i class="fa-solid fa-magnifying-glass"></i>
        </a>
        <a href="../../pages/Signin-Signup/signIn-signUp.html" class="topbar-btn">Sign in</a>
        <label for="nav-mobile-input" class="nav-mobile__menu-btn"><i class="fa-solid fa-bars"></i></label>
      </div>
    </div>

    <div class="logo-search-login-small container" id="logo-search-login-2">
      <div class="logo">
        <a href="/index.html">
          <img src="../../public/images/logo.svg" alt="Logo" />

        </a>
      </div>
      <ul class="nav-bar container" id="smallNav">
        <li class="nav-bar__item-1">
          <a href="/index.html" class="nav-bar__link-1">HOME</a>
        </li>
        <li class="nav-bar__item-1">
          <a href="/pages/Professional-edu/pro-courses.html" class="nav-bar__link-1">PROFESSIONAL EDUCATION</a>
          <ul class="nav-bar__list-2">
            <li class="nav-bar__item-2">
              <a href="/pages/Professional-edu/pro-courses.html" class="nav-bar__link-2">Courses</a>
            </li>
            <li class="nav-bar__item-2">
              <a href="/pages/Professional-edu/pro-facl.html" class="nav-bar__link-2">Faculty Education</a>
            </li>
            <li class="nav-bar__item-2">
              <a href="/pages/Professional-edu/pro-student.html" class="nav-bar__link-2">Student Education</a>
            </li>
          </ul>
        </li>
        <li class="nav-bar__item-1">
          <a href="/pages/patientEdu/patientEdu.html" class="nav-bar__link-1">PATIENTS EDUCATION</a>
        </li>
        <li class="nav-bar__item-1">
          <a href="/pages/Research/Research.html" class="nav-bar__link-1">RESEARCH</a>
        </li>
        <li class="nav-bar__item-1">
          <a href="" class="nav-bar__link-1">PRODUCTS</a>
        </li>
        <li class="nav-bar__item-1">
          <a href="/pages/About-us/about-us.html" class="nav-bar__link-1">ABOUT US</a>
        </li>
      </ul>
      <div class="topbar-login">
        <a href="/pages/search-page/search-page.html" class="topbar-btn">
          <i class="fa-solid fa-magnifying-glass"></i>
        </a>
        <a href="../../pages/Signin-Signup/signIn-signUp.html" class="topbar-btn">Sign in</a>
        <label for="nav-mobile-input" class="nav-mobile__menu-btn"><i class="fa-solid fa-bars"></i></label>
      </div>
    </div>
    <ul class="nav-bar container" id="mainNav">
      <li class="nav-bar__item-1">
        <a href="/index.html" class="nav-bar__link-1">HOME</a>
      </li>
      <li class="nav-bar__item-1">
        <a href="/pages/Professional-edu/pro-courses.html" class="nav-bar__link-1">PROFESSIONAL EDUCATION</a>
        <ul class="nav-bar__list-2">
          <li class="nav-bar__item-2">
            <a href="/pages/Professional-edu/pro-courses.html" class="nav-bar__link-2">Courses</a>
          </li>
          <li class="nav-bar__item-2">
            <a href="/pages/Professional-edu/pro-facl.html" class="nav-bar__link-2">Faculty Education</a>
          </li>
          <li class="nav-bar__item-2">
            <a href="/pages/Professional-edu/pro-student.html" class="nav-bar__link-2">Student Education</a>
          </li>
        </ul>
      </li>
      <li class="nav-bar__item-1">
        <a href="/pages/patientEdu/patientEdu.html" class="nav-bar__link-1">PATIENTS EDUCATION</a>
      </li>
      <li class="nav-bar__item-1">
        <a href="/pages/Research/Research.html" class="nav-bar__link-1">RESEARCH</a>
      </li>
      <li class="nav-bar__item-1">
        <a href="" class="nav-bar__link-1">PRODUCTS</a>
      </li>
      <li class="nav-bar__item-1">
        <a href="/pages/About-us/about-us.html" class="nav-bar__link-1">ABOUT US</a>
      </li>
    </ul>



    <label for="nav-mobile-input" class="nav__overlay"></label>

    <di class="nav-mobile">
      <div class="nav-mobile__top">
        <h3>MENU</h3>
        <label for="nav-mobile-input" class="nav-mobile-close"><i class="fa-solid fa-xmark"></i></label>
      </div>

      </div>
      <ul class="nav-mobile__list-1">
        <li class="nav-mobile__item-1">
          <a href="/index.html" class="nav-mobile__link-1">HOME</a>
        </li>
        <li class="nav-mobile__item-1">
          <a href="/pages/Professional-edu/pro-courses.html" class="nav-mobile__link-1">PROFESSIONAL EDUCATION</a>
        </li>
        <li class="nav-mobile__item-1">
          <a href="/pages/patientEdu/patientEdu.html" class="nav-mobile__link-1">PATIENTS EDUCATION</a>
        </li>
        <li class="nav-mobile__item-1">
          <a href="/pages/Research/Research.html" class="nav-mobile__link-1">RESEARCH</a>
        </li>
        <li class="nav-mobile__item-1">
          <a href="" class="nav-mobile__link-1">PRODUCTS</a>
        </li>
        <li class="nav-mobile__item-1">
          <a href="/pages/About-us/about-us.html" class="nav-mobile__link-1">ABOUT US</a>
        </li>
      </ul>
    </di>

  </header>

  <main>
    <div class="container">
      <div class="product-banner">
        <div class="banner-content">
          <h1 class="banner-title">ORAL-B IO: THE NEXT GENERATION OF OSCILLATING - ROTATING TOOTHBRUSHES</h1>
          <p class="banner-desc">Oral-B iO combines the oscillation-rotating of the iconic round brush head with micro
            vibrations to deliver a sensational clean that delights patients</p>
        </div>
      </div>
      <div class="overview">
        <h1 class="overview-text">Overview
        </h1>
      </div>
      <div class="product-content">
        <div class="content">
          <div class="content-img">
            <img src="./public/product001-1.png" alt="">
          </div>
          <div class="content-text">
            <div class="content-text_extra">
              <h2 class="content-title">Oscillation rotation and microvibrations for a sensational clean that patients
                can’t resist.</h2>
              <p class="content-desc">In over 60 years of continuous innovation to help the world take better care of
                teeth and gums, we have learned a simple but vital lesson: the more appealing and enjoyable the
                toothbrush, the more people will use it and the better their results will be.</p>
              <!-- <p class="content-desc">That’s why in 2020 we released Oral-B iO™ series: our next generation of electric
              toothbrushes that combines Oral-B’s iconic round head & oscillation rotation technology with the gentle
              energy of microvibrations for a sensational clean that patients can’t resist.</p> -->
            </div>
          </div>


        </div>
        <div class="content-2">
          <h1 class="content-title2">Made in Germany and designed with dental professionals</h1>
          <div class="content-desc2">Oral-B iO™ is an electric toothbrush range that has been reimagined and
            redesigned from the inside out. Oral-B iO™ is revolutionary dental technology, a result of insights
            collected from over six years of product research and development, with input from more than 6000
            consumers, and evaluated over more than 43,000 clinical trial study days.</div>
        </div>

        <div class="content">
          <div class="content-img">
            <img src="./public/product001-2.png" alt="">
          </div>
          <div class="content-text">
            <div class="content-text_extra">
              <h2 class="content-title">Concentrated energy.</h2>
              <p class="content-desc">Created from the need to deliver a more effective and enjoyable brushing
                experience, the iO Linear Magnetic Drive is the heart of the brush. Producing controlled, harmonious
                oscillation-rotations with gentle micro-vibrations, the frictionless linear magnetic drive</p>
              <p class="content-desc">System efficiently concentrates energy at the bristle tips, where it matters most,
                allowing the brush head to glide tooth by tooth for a smooth, quiet and sensational clean that delivers
                sensational clean that your patients would love.</p>
            </div>
          </div>


        </div>





        <div class="content-2">
          <h1 class="content-title2">Clinically Proven technology with a wealth of scientific evidence</h1>
          <div class="content-desc2">At the heart of every dental professional's practice is the need to make
            evidence-based recommendations to patients. Since Oral-B developed its first oscillating rotating electric
            toothbrush in 1991, over 180 studies on its efficacy, gentleness and compliance features have been conducted
            and many have been published in peer-reviewed dental journals</div>
        </div>


        <div class="content">
          <div class="content-img">
            <img src="./public/product001-4.png" alt="">
          </div>
          <div class="content-text">
            <div class="content-text_extra">
              <h2 class="content-title">Redesigned brush heads for every patient need</h2>
              <p class="content-desc">Oral-B iO™ is compatible with 4 replacement brush heads. The breakthrough Ultimate
                Clean brush head has been designed with twisted filaments and a high-density tuft-in-tuft configuration,
                to ensure a deep clean that reaches every contour of the teeth for outstanding whole-mouth plaque
                removal.</p>
              <p class="content-desc">The Gentle Care brush head contains almost 4000 of our finest filaments- the
                highest filament count and the smallest filament diameter in the Oral-B electric toothbrush range- for a
                gentle and complete clean your patients will love.</p>
            </div>
          </div>


        </div>

        <div class="content-card">
          <h1 class="content-card-title">Discover the product range</h1>

          <div class="list-card-rcm">

            <div class="card-rcm">
              <div class="card-rcm_img">
                <img src="./public/product001-card.png" alt="">
              </div>
              <div class="card-info_rcm">
                <h3 class="card-info_title">iO 9</h3>
                <div class="card-info_text">
                  <h5 class="card-info_branch">Mode of action</h5>
                  <p class="card-info_main">Ocillation-Rotation</p>
                  <h5 class="card-info_branch">Number of brushing modes</h5>
                  <p class="card-info_main">7</p>
                  <h5 class="card-info_branch">Timer</h5>
                  <p class="card-info_main">4x30sec on display</p>
                  <h5 class="card-info_branch">Pressure</h5>
                  <p class="card-info_main">Low / High pressure alert</p>
                  <h5 class="card-info_branch">Statistic</h5>
                  <p class="card-info_main">In-App & Display</p>
                  <h5 class="card-info_branch">Fast charging</h5>
                  <p class="card-info_main">3 hours</p>
                </div>
              </div>
            </div>


            <div class="card-rcm">
              <div class="card-rcm_img">
                <img src="./public/product001-card.png" alt="">
              </div>
              <div class="card-info_rcm">
                <h3 class="card-info_title">iO 9</h3>
                <div class="card-info_text">
                  <h5 class="card-info_branch">Mode of action</h5>
                  <p class="card-info_main">Ocillation-Rotation</p>
                  <h5 class="card-info_branch">Number of brushing modes</h5>
                  <p class="card-info_main">7</p>
                  <h5 class="card-info_branch">Timer</h5>
                  <p class="card-info_main">4x30sec on display</p>
                  <h5 class="card-info_branch">Pressure</h5>
                  <p class="card-info_main">Low / High pressure alert</p>
                  <h5 class="card-info_branch">Statistic</h5>
                  <p class="card-info_main">In-App & Display</p>
                  <h5 class="card-info_branch">Fast charging</h5>
                  <p class="card-info_main">3 hours</p>
                </div>
              </div>
            </div>

            <div class="card-rcm">
              <div class="card-rcm_img">
                <img src="./public/product001-card.png" alt="">
              </div>
              <div class="card-info_rcm">
                <h3 class="card-info_title">iO 9</h3>
                <div class="card-info_text">
                  <h5 class="card-info_branch">Mode of action</h5>
                  <p class="card-info_main">Ocillation-Rotation</p>
                  <h5 class="card-info_branch">Number of brushing modes</h5>
                  <p class="card-info_main">7</p>
                  <h5 class="card-info_branch">Timer</h5>
                  <p class="card-info_main">4x30sec on display</p>
                  <h5 class="card-info_branch">Pressure</h5>
                  <p class="card-info_main">Low / High pressure alert</p>
                  <h5 class="card-info_branch">Statistic</h5>
                  <p class="card-info_main">In-App & Display</p>
                  <h5 class="card-info_branch">Fast charging</h5>
                  <p class="card-info_main">3 hours</p>
                </div>
              </div>
            </div>

          </div>




        </div>
      </div>
    </div>
    </div>
  </main>

  <footer>
    <div class="footer-area container">
      <div class="footer__info">
        <div class="row footer__info-row">
          <div class="col footer__col-1">
            <div class="footer_subscribe-wrapper" id="footerSubscribe" ng-controller="myCtrl">
              <div class="footer__subscribe-title">
                <p>Subscribe</p>
              </div>
              <form name="subscribeForm">
                <div class="footer__subscribe-input-field">
                  <input ng-model="emailInput" class="footer__input-subscribe" type="email"
                    placeholder="Enter your email">
                  <button ng-click="validateEmail()" class="footer__sign-up-button" type="submit">Sign up</button>

                </div>
                <p class="footer__subscribe-error"> {{errorMessage}}</p>
              </form>
              <div class="footer__thanks">
                <span>Thank you for subscribe</span>
              </div>
            </div>

            <ul class="footer__social-media">
              <li>
                <a href="#"><i class="fa-brands fa-facebook-f"></i></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-pinterest"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-tiktok"></i></a>
              </li>
            </ul>
          </div>
          <div class="col footer__col-2">
            <ul>
              <li><a href="">Patient education</a></li>
              <li><a href="">Professional education</a></li>
              <li><a href="">Research</a></li>
              <li><a href="">Product</a></li>
            </ul>
          </div>
          <div class="col footer__col-3">
            <ul>
              <li><a href="">About us</a></li>
              <li><a href="">Careers</a></li>
              <li><a href="">Site map</a></li>
              <li><a href="">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script type="text/javascript">
    angular.bootstrap(document.getElementById('footerSubscribe'), ['FooterSubscribeApp']);
  </script>
</body>

</html>