/* LOGO */
.header {
  background-color: var(--header-background-color);
}

.logo-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-search img {
  width: 120px;
  height: 90px;
}
/* SEARCH */
.search-group {
  display: flex;
  align-items: center;
  flex: 0.75;
}
.search-input {
  position: relative;
  flex: 1;
  /* width: 500px; */
  height: 40px;
  padding-left: 50px;
  color: #000;
  border: 1px solid #e2e2e2;
  border-radius: 20px;
}

.search-input:focus-within {
  border: 1px solid #0f55a6;
  outline: none;
}

.search-group-icon {
  position: absolute;
  z-index: 100;
  padding-left: 18px;
  color: #a2a29c;
}
/* LANGUAGE */
.language {
  height: 40px;
  width: 150px;
  border: 1px solid #a2a29c;
  border-radius: 3px;
  color: #a2a29c;
}

.language:focus {
  border: 1px solid #a2a29c;
  outline: none;
}

/* MENU */
.nav-bar {
  display: flex;
  align-items: first baseline;
  justify-content: space-between;
  /* justify-content: left; */
}

/* Login */
.login {
  display: flex;
  align-items: center;
}

.login_login {
  height: 1.5rem;
  margin-left: 1rem;
  padding: 0.2rem 0.5rem;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius-small);
  border: 1px solid transparent;
  color: var(--color1);
  transition: all 0.2s ease-in;
}

.login_login:hover {
  color: var(--color1);
  border: 1px solid var(--color1);
}

.login_register {
  height: 1.5rem;
  margin-left: 1rem;
  padding: 0.2rem 0.5rem;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius-small);
  border: 1px solid var(--color-red);
  color: var(--color-red);
  transition: all 0.2s ease-in;
}

.login_register:hover {
  color: #fff;
  background-color: var(--color-red);
}

/* Navigation bar */
.nav-bar__item-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-bar__item-1:first-child {
  align-items: start;
}

.nav-bar__item-1:last-child {
  align-items: end;
}

.nav-bar__item-1:hover .nav-bar__list-2 {
  display: flex;
  flex-flow: column;
  /* justify-content: center; */
  /* align-items: center; */
}

.nav-bar__link-1 {
  margin: 0.5rem;
  padding: 0.3rem;
  float: left;
  height: 100%;
  border-bottom: 2px solid transparent;
}

.nav-bar__link-1:hover {
  color: var(--color1);
  text-decoration: underline;
}

.nav-bar__list-2 {
  display: none;
  position: absolute;
  margin-top: 45px;
  padding: 0 0.5rem;
  width: 10rem;
  max-height: calc(100vh - 9.25rem);
  box-shadow: 0 0.125rem 0.5rem rgb(28 14 64 / 15%);
  background: #fff;
  border: 1px solid var(--color1);
  border-radius: var(--border-radius-big);
}

.nav-bar__item-2 {
  padding: 0.75rem 1rem;
}

.nav-bar__link-2:hover {
  color: var(--color1);
  border-bottom: 2px solid var(--color1);
}

.nav-mobile__menu-btn {
  margin-left: 1rem;
  font-size: 2rem;
  display: none;
}

.nav__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  animation: fadeIn linear 0.3s;
}

.nav__input {
  display: none;
}

.nav__input:checked ~ .nav__overlay {
  display: block;
}

.nav__input:checked ~ .nav-mobile {
  display: block;
  transform: translateX(0);
  opacity: 1;
}

.nav__input:checked ~ .nav-mobile__menu-btn {
  display: none;
}

.nav-mobile-close {
  font-size: 2rem;
  margin-left: 1rem;
}

.nav__input:checked ~ .nav-mobile-close {
  display: block;
}

.nav-mobile {
  position: fixed;
  top: 80px;
  right: 0;
  bottom: 0;
  /* left: 0; */
  width: 300px;
  max-width: 100%;
  padding: 1rem;
  border: 1px solid grey;
  background-color: #fff;
  transform: translateX(100%);
  opacity: 0;
  transition: all linear 0.2s;
  z-index: 2;
}

.nav-mobile__search {
  display: flex;
  align-items: center;
}

.nav-mobile__search-icon {
}

.nav-mobile__item-1 {
  padding: 1rem;
  font-weight: 500;
}

/* Tablet and mobile: width <1024px  */
@media only screen and (max-width: 64em) {
  .search-group {
    display: none;
  }
  .nav-mobile__menu-btn {
    display: block;
  }

  .nav-bar {
    display: none;
  }
}
/* and (min-width: 46.25em) */

/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
}
