<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/1fb8bb996b.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="pro-facl.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css"
    integrity="sha512-Ez0cGzNzHR1tYAv56860NLspgUGuQw16GiOOp/I2LuTmpSK9xDXlgJz3XN4cnpXWDmkNBKXR/VDMTCnAaEooxA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" /> -->

    <link rel="icon" href="../../public/images/favicon.jpg">

    <link rel="stylesheet" href="pro-edu.css">
    <script src="../../js/header-footer.js"></script>
    <title>Professional Education</title>
</head>


<body>
    <header class="container-fluid">
        <input type="checkbox" class="nav__input" id="nav-mobile-input">
        <div class="logo-search-login container" id="logo-search-login-1">
            <div class="logo">
                <img src="../../public/images/logo.svg" alt="Logo" />
            </div>
            <div class="search-group">
                <input type="text" class="search-input" placeholder="Search in 32SMILES" aria-label="Search"
                    aria-describedby="basic-addon1" />
                <span class="search-group-icon" id="basic-addon1">
                    <i class="fas fa-search"></i>
                </span>
            </div>
            <div class="login">
                <a href="../../pages/Signin-Signup/signIn-signUp.html" class="login_login">Sign in</a>
                <label for="nav-mobile-input" class="nav-mobile__menu-btn"><i class="fa-solid fa-bars"></i></label>
            </div>
        </div>

        <div class="logo-search-login-small container" id="logo-search-login-2">
            <div class="logo">
                <img src="../../public/images/logo.svg" alt="Logo" />
            </div>
            <ul class="nav-bar container" id="smallNav">
                <li class="nav-bar__item-1">
                    <a href="" class="nav-bar__link-1">HOME</a>
                    <ul class="nav-bar__list-2">
                        <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                        <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                        <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                        <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                    </ul>
                </li>
                <li class="nav-bar__item-1">
                    <a href="" class="nav-bar__link-1">PROFESSIONAL EDUCATION</a>
                    <ul class="nav-bar__list-2">
                        <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                        <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                        <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                        <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                    </ul>
                </li>
                <li class="nav-bar__item-1">
                    <a href="" class="nav-bar__link-1">PATIENTS EDUCATION</a>
                    <ul class="nav-bar__list-2">
                        <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                        <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                        <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                        <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                    </ul>
                </li>
                <li class="nav-bar__item-1">
                    <a href="" class="nav-bar__link-1">RESEARCH</a>
                    <ul class="nav-bar__list-2">
                        <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                        <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                        <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                        <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                    </ul>
                </li>
                <li class="nav-bar__item-1">
                    <a href="" class="nav-bar__link-1">PRODUCTS</a>
                    <ul class="nav-bar__list-2">
                        <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                        <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                        <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                        <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                    </ul>
                </li>
                <li class="nav-bar__item-1">
                    <a href="" class="nav-bar__link-1">CONTACT US</a>
                    <ul class="nav-bar__list-2">
                        <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                        <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                        <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                        <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                    </ul>
                </li>
            </ul>
            <div class="login">
                <a href="../../pages/Signin-Signup/signIn-signUp.html" class="login_login">Sign in</a>
                <label for="nav-mobile-input" class="nav-mobile__menu-btn"><i class="fa-solid fa-bars"></i></label>
            </div>
        </div>
        <ul class="nav-bar container" id="mainNav">
            <li class="nav-bar__item-1">
                <a href="" class="nav-bar__link-1">HOME</a>
                <ul class="nav-bar__list-2">
                    <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                    <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                    <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                    <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                </ul>
            </li>
            <li class="nav-bar__item-1">
                <a href="" class="nav-bar__link-1">PROFESSIONAL EDUCATION</a>
                <ul class="nav-bar__list-2">
                    <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                    <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                    <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                    <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                </ul>
            </li>
            <li class="nav-bar__item-1">
                <a href="" class="nav-bar__link-1">PATIENTS EDUCATION</a>
                <ul class="nav-bar__list-2">
                    <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                    <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                    <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                    <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                </ul>
            </li>
            <li class="nav-bar__item-1">
                <a href="" class="nav-bar__link-1">RESEARCH</a>
                <ul class="nav-bar__list-2">
                    <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                    <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                    <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                    <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                </ul>
            </li>
            <li class="nav-bar__item-1">
                <a href="" class="nav-bar__link-1">PRODUCTS</a>
                <ul class="nav-bar__list-2">
                    <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                    <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                    <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                    <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                </ul>
            </li>
            <li class="nav-bar__item-1">
                <a href="" class="nav-bar__link-1">CONTACT US</a>
                <ul class="nav-bar__list-2">
                    <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                    <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                    <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                    <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
                </ul>
            </li>
        </ul>



        <label for="nav-mobile-input" class="nav__overlay"></label>

        <di class="nav-mobile">
            <label for="nav-mobile-input" class="nav-mobile-close"><i class="fa-solid fa-xmark"></i></label>
            <div class="nav-mobile__search">
                <div class="nav-mobile__search-wrapper">
                    <span class="nav-mobile__search-icon" id="basic-addon1">
                        <i class="fas fa-search"></i>
                    </span>
                    <input type="text" class="nav-mobile__search-input" placeholder="Search in 32SMILES"
                        aria-label="Search" aria-describedby="basic-addon1" />
                </div>
            </div>
            <ul class="nav-mobile__list-1">
                <li class="nav-mobile__item-1">
                    <a href="" class="nav-mobile__link-1">HOME</a>
                </li>
                <li class="nav-mobile__item-1">
                    <a href="" class="nav-mobile__link-1">PROFESSIONAL EDUCATION</a>
                </li>
                <li class="nav-mobile__item-1">
                    <a href="" class="nav-mobile__link-1">PATIENTS EDUCATION</a>
                </li>
                <li class="nav-mobile__item-1">
                    <a href="" class="nav-mobile__link-1">RESEARCH</a>
                </li>
                <li class="nav-mobile__item-1">
                    <a href="" class="nav-mobile__link-1">PRODUCTS</a>
                </li>
                <li class="nav-mobile__item-1">
                    <a href="" class="nav-mobile__link-1">CONTACT US</a>
                </li>
            </ul>
        </di>

    </header>
    <main>
        <section class="container">
            <!-- Title -->
            <div class="title">
                <h1 class="big-title">Professional Education</h1>
                <p class="title-desc"> The 32Smiles.com program mission is to assist oral health professionals in
                    maintaining a current knowledge base in the rapidly changing environment and dynamic field of oral
                    health by
                    providing peer-reviewed, evidence-based continuing education.</p>
                <ul class="branch">
                    <li class="link-courses"><a href="./pro-courses.html"><span class="link-wrapper">Courses</span></a>
                    </li>
                    <!-- <li class="case-studies"><a href="#"><span class="link-wrapper">Case Studies</span></a></li> -->
                    <li class="facul-edu"><a href="./pro-facl.html"><span class="link-wrapper">Faculty
                                Education</span></a></li>
                    <li class="student-edu"><a href="./pro-student.html"><span class="link-wrapper">Student
                                Education</span></a></li>

                </ul>
            </div>
            <!-- Content -->
            <div class="content">
                <div class="banner">
                    <div class="banner-img">
                        <img src="./public/facl-banner-min.jpg" alt="">
                    </div>
                    <div class="banner-container">
                        <div class="slogan">
                            This page has been designed specifically for educators highlighting a variety of FREE
                            teaching tools: case studies, and the
                            Infection Control and Radiology syllabi.
                        </div>
                    </div>
                </div>
                <!-- faculty -->
                <section class="faculty">

                    <h2 class="faculty-title"> Faculty Resources</h2>

                    <div class="faculty-card">

                        <div class="faculty-card-img">
                            <a href="#">
                                <img src="./public/faclty-post.png" alt=""></a>
                        </div>
                        <div class="faculty-card-info">

                            <h1 class="faculty-card-title">WHAT YOUR STUDENTS NEED TO KNOW ABOUT TODAY's SnF₂ DENTRIFICE
                            </h1>

                            <div class="faculty-card-desc">
                                <p>There’s a regular misperception that dentifrices are all the same. Share with
                                    your students' why stabilized stannous fluoride dentifrice is different from
                                    regular fluoride. Not only does stannous fluoride provide more benefits than
                                    regular fluorides, but clinical trials show significant advantages versus
                                    various marketed control products.</p>
                            </div>

                            <div class="more">
                                <a href="#">Learn More</a>

                            </div>


                        </div>

                    </div>


                </section>

                <!-- All Resources -->

                <section class="all-resour">
                    <h2 class="resour-title">All Resources</h2>

                    <div class="list-resour">

                        <div class="resour-small">
                            <div class="resour-img">
                                <img src="./public/profess-2.jpg" alt="">
                            </div>
                            <div class="resour-body">
                                <h3 class="resour-big">Dental Radiology Syllabus</h3>
                                <p class="resour-text">The information in this 13-course syllabus is intended (1) to
                                    meet initial educational/training requirements for Dental Assistant Students, (2) to
                                    provide a framework for an in-service training program in oral healthcare settings
                                    to meet annual educational/training requirements as mandated by OSHA and other
                                    federal, state, local and professional organizations, and (3) to serve as a resource
                                    for oral healthcare personnel wishing to review evidence-based information on
                                    specific topics related to infection prevention, hazardous waste management, and
                                    hazard communication compliance.</p>
                                <div class="btn-resour"><a href="#">Learn More</a></div>
                            </div>
                        </div>
                        <div class="resour-small">
                            <div class="resour-img">
                                <img src="./public/profess6-min.jpg" alt="">
                            </div>
                            <div class="resour-body">
                                <h3 class="resour-big">Infection Control Syllabus</h3>
                                <p class="resour-text">The information in this 12-module syllabus is intended (1) to
                                    meet elements of initial educational/training requirements for Dental Assistant
                                    Students related to dental radiography; (2) to provide a framework for an in-service
                                    training program in oral healthcare settings to meet annual educational/training
                                    requirements as mandated by federal, state, local and professional organizations;
                                    and (3) to serve as a resource for oral healthcare personnel wishing to review
                                    evidence-based information on specific topics related to dental radiography.

                                </p>
                                <div class="btn-resour"><a href="#">Learn More</a></div>
                            </div>
                        </div>

                    </div>
                </section>
                <!-- Other Courses -->
                <!-- <section class="other">

                    <h2 class="courses-title">Other Courses</h2>

                    <div class="list-small">

                        <div class="small-card">
                            <a href="#"><img src="./public/courses-card1.jpg" class="card-img-top" alt="..."></a>
                            <div class="card-body">
                                <h5 class="card-title">A History and Update of Fluoride Dentifrices</h5>
                                <p class="card-text">This course will review current literature on the effectiveness of
                                    flossing and
                                    other interdental cleaning methods for patients with periodontal health, gingivitis,
                                    and
                                    periodontitis.</p>
                                <div class="btn-card"><a href="#">Learn More</a></div>
                            </div>
                        </div>

                        <div class="small-card">
                            <a href="#"><img src="./public/courses-card2.jpg" class="card-img-top" alt="..."></a>
                            <div class="card-body">
                                <h5 class="card-title">A String around Your Finger: Do We Really Need to Floss?</h5>
                                <p class="card-text">The primary goal of this course is to help dental professionals
                                    learn the process
                                    of clinical differential diagnosis of diseases and lesions of the oral mucosa</p>
                                <div class="btn-card"><a href="#">Learn More</a></div>
                            </div>
                        </div>

                    </div>

                </section> -->
            </div>

        </section>

    </main>

    <footer>
        <div class="footer-area container">
            <div class="footer__info">
                <div class="row footer__info-row">
                    <div class="col footer__col-1">
                        <div class="footer_subscribe-wrapper" ng-app="myApp" ng-controller="myCtrl">
                            <div class="footer__subscribe-title">
                                <p>Subscribe</p>
                            </div>
                            <form name="subscribeForm">
                                <div class="footer__subscribe-input-field">
                                    <input ng-model="emailInput" class="footer__input-subscribe" type="email"
                                        placeholder="Enter your email">
                                    <button ng-click="validateEmail()" class="footer__sign-up-button" type="submit">Sign
                                        up</button>

                                </div>
                                <p class="footer__subscribe-error"> {{errorMessage}}</p>
                            </form>
                            <div class="footer__thanks">
                                <span>Thank you for subscribe</span>
                            </div>
                        </div>

                        <ul class="footer__social-media">
                            <li>
                                <a href="#"><i class="fa-brands fa-facebook-f"></i></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa-brands fa-pinterest"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa-brands fa-tiktok"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col footer__col-2">
                        <ul>
                            <li><a href="">Patient education</a></li>
                            <li><a href="">Professional education</a></li>
                            <li><a href="">Research</a></li>
                            <li><a href="">Product</a></li>
                        </ul>
                    </div>
                    <div class="col footer__col-3">
                        <ul>
                            <li><a href="">About us</a></li>
                            <li><a href="">Careers</a></li>
                            <li><a href="">Site map</a></li>
                            <li><a href="">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- <script type="text/babel" src="subscribe.js"></script> -->
</body>

</html>