/* Title */
.title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 70px;
    
}

.big-title {
    font-size: 46px;
    margin-bottom: 15px;
    color: var(--color3);
}

.title-desc {
    margin-bottom: 20px;
    font-style: italic;
}

.branch {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.branch a {
    color: var(--color1);
    font-weight: bold;
}

.branch a:hover {
    color: var(--color3);
    text-decoration: underline;
}

.facul-edu a {
    color: var(--color3);
    text-decoration: underline;
    font-weight: bold;
}

@media (max-width: 570px) {
    .branch li {
        flex-basis: 50%;
    }
}

/* banner */

.banner {
    display: flex;
}


.banner-img img {
    width: 100%;
    /* height: 300px; */
    border-radius: 50px;
}
.banner-container {
    background: #73B5CB ;
    width: 97%;
    height: auto;
    border-radius: 40px;
    padding: 15px;
    margin-left: 30px;
    
}
.slogan {
    
    padding-top: 100px;
    text-align: center;
    color: #fff;
}

@media (max-width: 900px) {
    .banner {
        flex-direction: column;
    }
    .slogan {
        padding-top: 10px;
    }

    .banner-container {
        margin-left: 0;
    }
}

/* faculty */

.faculty {
    margin-top: 40px;
    margin-bottom: 60px;
}
.faculty-title {
    font-size: 30px;
    text-align: center;
    color: var(--color3);
    margin-bottom: 20px;
}

.faculty-card-desc {
    padding-top: 10px;
}
.faculty-card {
    display: flex;
    border: 1px solid var(--color3);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 50px;
    
}

.faculty-card-img {
    width: 100%;
}

.faculty-card-img img {
    width: 100%;
    border-radius: 50px;
    border: none;
    
}

.faculty-card-info {
    padding: 10px;
    text-align: center;
}

.more {
   margin-top: 60px;
   
}

.more a {
    border-radius: 50px;
    color: #fff;
    background-color: var(--color1);
    padding: 10px 20px 10px 20px;
}

.more a:hover {
    background-color: var(--color3);
}

@media (max-width:870px) {
    .faculty-card {
        flex-direction: column;
    }
}

/* Other Resources */
.resour-title {
    font-size: 30px;
    text-align: center;
    color: var(--color3);
    margin-bottom: 20px;
}
.list-resour {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--color3);
    padding-top: 40px;
}

.resour-small {
    display: flex;
    margin-bottom: 30px;
}
.resour-img img{
    width: 300px;
    border-radius: 50px;
}

.resour-body {
    padding-left: 20px;
}

.resour-big {
    font-size: 20px;
    margin-bottom: 10px;
}
.resour-text {
    margin-bottom: 30px;
}
.btn-resour a {
    border-radius: 50px;
    color: #fff;
    background-color: var(--color1);
    padding: 10px 20px 10px 20px;
}

.btn-resour a:hover {
    background-color: var(--color3);
}


@media (max-width:670px) {
    .resour-small {
        flex-direction: column;
    }
    .resour-img img{
        width: 100%;
    }
    .resour-body {
        padding-left: 0;
    }
}