<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>header</title>
</head>

<body>
  <header class="container-fluid">
    <input type="checkbox" class="display-none" id="nav-mobile-input">

    <div class="logo-search-login container" id="logo-search-login-1">
      <div class="logo">
        <a href="/index.html"><img src="/public/images/logo.svg" alt="Logo" /></a>
      </div>

      <div class="topbar-login">
        <a href="/pages/search-page/search-page.html" class="topbar-btn">
          <i class="fa-solid fa-magnifying-glass"></i>
        </a>
        <div class="topbar-profile">
          <label for="profile-show" class="topbar-btn topbar-avatar">
            <img src="/public/images/avatar.svg" alt="">
          </label>
          <input type="checkbox" class="display-none" id="profile-show">
          <div class="topbar-profile-drop">
            <div class="topbar-profile-drop-info">
              <img src="/public/images/avatar.svg">
              <div class="topbar-profile-drop-info-user">
                <h4>Hi, Hong Hanh</h4>
                <p>honghanh@gmail.com</p>
              </div>
            </div>
            <ul class="topbar-profile-drop-menu">
              <li>Notification</li>
              <li>Your courses</li>
              <li><a href="/pages/Submit-Post/Submit-Post.html">Sent a post</a></li>
            </ul>
            <div class="topbar-profile-drop-logout">
              <p>Log out</p>
            </div>
          </div>
        </div>

        <label for="nav-mobile-input" class="nav-mobile__menu-btn"><i class="fa-solid fa-bars"></i></label>
      </div>
    </div>

    <div class="logo-search-login-small container" id="logo-search-login-2">
      <div class="logo">
        <a href="/index.html">
          <img src="/public/images/logo.svg" alt="Logo" />

        </a>
      </div>
      <ul class="nav-bar container" id="smallNav">
        <li class="nav-bar__item-1">
          <a href="/index.html" class="nav-bar__link-1">HOME</a>
        </li>
        <li class="nav-bar__item-1">
          <a href="/pages/Professional-edu/pro-courses.html" class="nav-bar__link-1">PROFESSIONAL EDUCATION</a>
          <ul class="nav-bar__list-2">
            <li class="nav-bar__item-2">
              <a href="/pages/Professional-edu/pro-courses.html" class="nav-bar__link-2">Courses</a>
            </li>
            <li class="nav-bar__item-2">
              <a href="/pages/Professional-edu/pro-facl.html" class="nav-bar__link-2">Faculty Education</a>
            </li>
            <li class="nav-bar__item-2">
              <a href="/pages/Professional-edu/pro-student.html" class="nav-bar__link-2">Student Education</a>
            </li>
          </ul>
        </li>
        <li class="nav-bar__item-1">
          <a href="/pages/patientEdu/patientEdu.html" class="nav-bar__link-1">PATIENTS EDUCATION</a>
        </li>
        <li class="nav-bar__item-1">
          <a href="/pages/Research/Research.html" class="nav-bar__link-1">RESEARCH</a>
        </li>
        <li class="nav-bar__item-1">
          <a href="/pages/Products/products.html" class="nav-bar__link-1">PRODUCTS</a>
        </li>
        <li class="nav-bar__item-1">
          <a href="/pages/About-us/about-us.html" class="nav-bar__link-1">ABOUT US</a>
        </li>
      </ul>
      <div class="topbar-login">
        <a href="/pages/search-page/search-page.html" class="topbar-btn">
          <i class="fa-solid fa-magnifying-glass"></i>
        </a>
        <div class="topbar-profile">
          <label for="profile-show" class="topbar-btn topbar-avatar">
            <img src="/public/images/avatar.svg" alt="">
          </label>
          <input type="checkbox" class="display-none" id="profile-show">
          <div class="topbar-profile-drop">
            <div class="topbar-profile-drop-info">
              <img src="/public/images/avatar.svg">
              <div class="topbar-profile-drop-info-user">
                <h4>Hi, Hong Hanh</h4>
                <p>honghanh@gmail.com</p>
              </div>
            </div>
            <ul class="topbar-profile-drop-menu">
              <li>Notification</li>
              <li>Your courses</li>
              <li><a href="/pages/Submit-Post/Submit-Post.html">Sent a post</a></li>
            </ul>
            <div class="topbar-profile-drop-logout">
              <p>Log out</p>
            </div>
          </div>
        </div>

        <label for="nav-mobile-input" class="nav-mobile__menu-btn"><i class="fa-solid fa-bars"></i></label>
      </div>
    </div>
    <ul class="nav-bar container" id="mainNav">
      <li class="nav-bar__item-1">
        <a href="/index.html" class="nav-bar__link-1">HOME</a>
      </li>
      <li class="nav-bar__item-1">
        <a href="/pages/Professional-edu/pro-courses.html" class="nav-bar__link-1">PROFESSIONAL EDUCATION</a>
        <ul class="nav-bar__list-2">
          <li class="nav-bar__item-2">
            <a href="/pages/Professional-edu/pro-courses.html" class="nav-bar__link-2">Courses</a>
          </li>
          <li class="nav-bar__item-2">
            <a href="/pages/Professional-edu/pro-facl.html" class="nav-bar__link-2">Faculty Education</a>
          </li>
          <li class="nav-bar__item-2">
            <a href="/pages/Professional-edu/pro-student.html" class="nav-bar__link-2">Student Education</a>
          </li>
        </ul>
      </li>
      <li class="nav-bar__item-1">
        <a href="/pages/patientEdu/patientEdu.html" class="nav-bar__link-1">PATIENTS EDUCATION</a>
      </li>
      <li class="nav-bar__item-1">
        <a href="/pages/Research/Research.html" class="nav-bar__link-1">RESEARCH</a>
      </li>
      <li class="nav-bar__item-1">
        <a href="/pages/Products/products.html" class="nav-bar__link-1">PRODUCTS</a>
      </li>
      <li class="nav-bar__item-1">
        <a href="/pages/About-us/about-us.html" class="nav-bar__link-1">ABOUT US</a>
      </li>
    </ul>



    <label for="nav-mobile-input" class="nav__overlay"></label>

    <di class="nav-mobile">
      <div class="nav-mobile__top">
        <h3>MENU</h3>
        <label for="nav-mobile-input" class="nav-mobile-close"><i class="fa-solid fa-xmark"></i></label>
      </div>

      </div>
      <ul class="nav-mobile__list-1">
        <li class="nav-mobile__item-1">
          <a href="/index.html" class="nav-mobile__link-1">HOME</a>
        </li>
        <li class="nav-mobile__item-1">
          <a href="/pages/Professional-edu/pro-courses.html" class="nav-mobile__link-1">PROFESSIONAL EDUCATION</a>
        </li>
        <li class="nav-mobile__item-1">
          <a href="/pages/patientEdu/patientEdu.html" class="nav-mobile__link-1">PATIENTS EDUCATION</a>
        </li>
        <li class="nav-mobile__item-1">
          <a href="/pages/Research/Research.html" class="nav-mobile__link-1">RESEARCH</a>
        </li>
        <li class="nav-mobile__item-1">
          <a href="/pages/Products/products.html" class="nav-mobile__link-1">PRODUCTS</a>
        </li>
        <li class="nav-mobile__item-1">
          <a href="/pages/About-us/about-us.html" class="nav-mobile__link-1">ABOUT US</a>
        </li>
      </ul>
    </di>

  </header>
</body>

</html>