
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
    --margin-width: 15%;

  
    --color1: #0f55a6;
    --color1-hover: #1873dc;
    --color2: #15ABDB;
   
 }

 .Patient__Education {
  position: relative;
  display: flex;
 }
 .container__patEdu{
  
  margin-top: 12px;
  width: 100%;
  
  
}
  /*filter */

  .filterDiv {
  float: left;
  width: 100px;
  display:none;
  }
  .show {
    display: block;
  }
  .btn {
    padding: 0.5rem 1.5rem;
    margin: 0.5rem 1rem 0.5rem 0;
    color: #fff;
    background-color: var(--color1);
    border: none;
    border-radius: 9999px;
    font-weight: 600; 
    
  }
  
  .btn:hover {
    background-color: var(--color1);
    color: #fff;
    transition: all 0.2s ease-in;
  }
  
  .btn.active {
    background-color: #fff;
    color: var(--color1);
    border-radius: 9999px;
  }
  
  /*card*/

 
/*.list__post{

}*/
.post__img{
   width: 280px;
   border-radius: var(--border-radius);
}
.card {
   --border-radius: 0.75rem;
   --primary-color: #0f55a6;
   --secondary-color: #15abdb;
   width: 280px;
   font-family: "Arial";
   padding: 1rem;
   cursor: pointer;
   border-radius: var(--border-radius);
   background: #f1f1f3;
   box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
   position: relative;
   margin-top: 20px;
   margin-bottom: 50px;
   margin-left: 15px;
   
   
   
   
 }
 
 .card > * + * {
   margin-top: 1.1em;
 }
 
 .card .card__content-patedu {
   color: #6e6b80;
   font-size: 0.86rem;
 }
 
 .card .card__title-patedu {
   padding: 0;
   font-size: 1.3rem;
   font-weight: bold;
 }

 .arrow__display:hover{
  background: var(--color2);
 }
 
 .card .card__date {
   color: #6e6b80;
   font-size: 0.8rem;
 }
 .display__title:hover{
  color: var(--color1);
 }
 
 .card .card__arrow {
   position: absolute;
   background: var(--color2);
   padding: 0.4rem;
   border-top-left-radius: var(--border-radius);
   border-bottom-right-radius: var(--border-radius);
   bottom: 0;
   right: 0;
   transition: 0.2s;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .card svg {
   transition: 0.2s;
 }
 
 /* hover */
 .card:hover .card__title-patedu {
   color: var(--color1);
   text-decoration: underline;
 }
 
 .card:hover .card__arrow {
   background: var(--color1);
 }
 
 .card:hover .card__arrow svg {
   transform: translateX(3px);
 }
 .card:hover{
   opacity: 0.8;
 }
 .article__patedu {
  position: relative;
  display: grid;
  grid-template-columns: 30% 1fr;
  column-gap: 3em;
  grid-template-areas: 'sidebar content';
  padding: 10px;
  margin-top: 20px;
  
}
.menu__patedu {
  grid-area: sidebar;
  display: block;
  background-color: var(--background-color);
  margin-top: 32px;
  /* border: 1px solid var(--color1);
  border-radius: var(--border-radius-big); */
}
   
 /* Tablet and mobile: width <1024px  */
@media only screen and (max-width: 600px) {
  main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
  .container__patEdu{
  margin: 0;
  width: 100%;
  }
}

@media only screen and (max-width: 540px){
  .container__patEdu{
    margin-top: 12px;
  }
  .btn{
    vertical-align: 15px;
  }
}

@media only screen and (min-width: 768px){
  .btn{
    vertical-align: 17px;
  }
}
 
@media only screen and (max-width: 393px){
  .btn{
    vertical-align: 20px;
  }
}

@media only screen and (width: 1024px){
  .card {
    --border-radius: 0.75rem;
    --primary-color: #7257fa;
    --secondary-color: #3c3852;
    width: 270px;
    font-family: "Arial";
    padding: 1rem;
  
    border-radius: var(--border-radius);
    background: #f1f1f3;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
    position: relative;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
}
.post__img{
  width: 270px;
  border-radius: var(--border-radius);
}
}

@media only screen and (width: 912px){
  .card{
    width: 230px;
    margin-right: 5px;
    margin-top: 20px;
  }
  .post__img{
    width: 230px;
  }
}

@media only screen and (width: 768px){
  .card{
    width: 390px;
  }
  .post__img{
    width: 390px;
  }
}
@media only screen and (max-width: 280px){
  .card{
    width: 230px;
  }
  .post__img{
    width: 230px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 969px){
  .card{
    width: 200px;
  }
  .post__img{
    width: 200px;
  }
  .list__post{
    width: 100%;
    margin-left: 20px;
  }
}
@media only screen and (width: 820px){
  .card{
    width: 200px;
  }
  .post__img{
    width: 200px;
  }
}
@media only screen and (min-width: 642px) and (max-width: 892px){
  .card{
    width: 200px;
  }
  .post__img{
    width: 200px;
  }
}
@media only screen and (min-width: 612px) and (max-width: 787px){
  .card{
    width: 390px;
  }
  .post__img{
    width: 390px;
  }
}
@media only screen and (min-width: 820px) and (max-width: 968px){
  .card{
width: 240px;
  }
  .post__img{
    width: 240px;
  }
}
@media only screen and (min-width: 820px) and (max-width: 879px){
  .card{
    width: 230px;
  }
  .post__img{
    width: 230px;
  }
}
@media only screen and (min-width: 820px) and (max-width: 857px){
  .card{
    width: 200px;
  }
  .post__img{
    width: 200px;
  }
}