* {
    margin: 0;
    padding: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Poppins', sans-serif;
  
    --margin-width: 15%;
    --border-radius-big: 0.5rem;
    --border-radius-small: 0.25rem;
  
    /* --color1: #0f55a6; */
    --color1: #15abdb;
    --color1-hover: #0f55a6;
    --color2: #15abdb;
    --sub-text-color: #948f99;
    --color3: #0f55a6;
    /* --color3: #ffde17; */
    --color-red: #e60039;
    --background-color: #f7f7f7;
    --header-background-color: #fff;
  }
  
  body {
    background-color: var(--background-color);
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  li {
    list-style: none;
  }
  
  .container {
    max-width: 1000px;
    margin: auto;
    padding: 0 15px;
  }
.research-article{
    margin: 50px 0;
}
h1{
    text-align: center;
    font-size: 34px;
}
.demo{
    text-align: center;
    padding-top: 10px;
    font-size: 17px;
    font-style: italic;
}
.overview{
    margin-top: 60px;
}
h2{
    font-size: 26px;
    margin-top: 48px;
    margin-bottom: 40px;
    font-weight: 600;
}
.overview-content{
    padding-left: 25px;
    padding-bottom: 10px;
    line-height: 30px;
    margin-bottom: 20px;
}
p{
    margin-bottom: 25px;
    font-size: 18px;
}
.latest-research{
    margin-bottom: 50px;
}
.latest-tags{
    margin-bottom: 40px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
.latest-tags > a{
    margin: 0.5rem 1.2rem 0.5rem 0 ;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 165px;
    min-height: 38px;
    background-color: var(--color1);
    font-weight: 500;
    line-height: 20px;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-size-adjust: 100%;
    border-radius: 4%;
}
.latest-tags > a:hover{
    background-color:var(--color1-hover);
    
}
.latest-tags > a > span{
    align-items: center;
    color: var(--header-background-color);
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    word-spacing: 2px;
}
.latest-bio {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    min-width: 25%;
  }
.latest-card {
    display: grid;
    grid-template-rows: 175px 100px;
    row-gap: 1em;
    text-decoration: none;
    color: rgb(28, 14, 64) ;
    background-color: var(--background-color);
}
.latest-card:hover{
    text-decoration-line: underline;
    color:var(--color1-hover) ;
}
.img-card {
    display: flex;
    justify-content: center;
    width:250px;
    height: 185px;
}
  
.img-card > img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.main-card{
    margin-top: 13px;
    padding-bottom: 8px;
}
.text-card {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-align:left;
}
.clinical-content{
    display: grid;
    position: relative;
    grid-template-columns:repeat(3, 1fr);
    min-width: 33.33%;
    column-gap: 25px;
}
.patients-card{
    padding:16px 0 ;

}
.patients-card > img{
    max-width:1000px;
    max-height: 185px;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-small);
}
.content-card{
    margin: 23px 0;
    line-height: 22px;
}
.content-card > a{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
.content-card > a:hover{
    text-decoration: underline;
    color: var(--color1-hover)
}
.content-card > p{
    font-size: 14px;
    width: auto;
} 
.partnerships-content > p{
    margin-left: 15px;
}
.partnerships-content > a{
    margin-left: 40px;
    text-decoration: underline;
    color: var(--color3);
    line-height: 45px;
}
.partnerships-content > a:hover{
    color: rgb(29, 4, 120);
}
.partnerships-content > p{
    margin-top: 30px;
}
.future-content{
    margin-left: 15px;
}
@media only screen and (min-width: 800px) and (max-width: 1024px) {
    .latest-bio {
        grid-template-columns: repeat(2, 1fr);
        min-width: 20%;
    }
    .img-card {
        width: 385px;
        height: 195px;
    }
    .clinical-content{
        display: grid;
        position: relative;
        grid-template-columns:repeat(2, 1fr);
    }
}
/* Tablet */
@media only screen and (min-width: 480px) and (max-width: 800px) {
    .latest-bio {
      grid-template-columns: repeat(2, 1fr);
      min-width: 50%;
    }
    .img-card {
        width: 320px;
        height: 185px;
    }
   .clinical-content{
        display: grid;
        position: relative;
        grid-template-columns:repeat(2, 1fr);
    }
    .patients-card > img{
        width: 320px;
        height: 185px;}

}
  
 /* For mobile screens */
@media (max-width: 480px) {
    .latest-bio {
      grid-template-columns: repeat(1, 1fr);
      min-width: 100%;
    }   
   .latest-card {
    display: grid;
    grid-template-rows: 185px 100px;
    row-gap: 1em;
    text-decoration: none;
    color: rgb(28, 14, 64);
    background-color: var(--background-color);
    } 
.latest-card:hover {
    text-decoration-line: underline;
    color: var(--color1-hover);
}
.img-card {
    display: flex;
    justify-content: center;
    width: 345px;
    height: 185px;
}
  
.img-card > img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
  
.main-card {
    margin-top: 13px;
    padding-bottom: 8px;
}
.text-card {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
}
.latest-tags {
    flex-wrap: wrap;
  }
  .latest-tags > a {
    min-width: 130px;
  }
  .clinical-content{
    display: grid;
    position: relative;
    grid-template-columns:repeat(1, 1fr);
}
}
