<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous" />
  <script src="https://kit.fontawesome.com/1fb8bb996b.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/header.css" />
  <link rel="stylesheet" href="/css/footer.css" />
  <link rel="stylesheet" href="./css/patientEdu.css">

  <link rel="icon" href="/public/images/favicon.jpg">

  <script src="/js/header-footer.js"></script>
  <script src="patientEdu.js"></script>
  <script src="/js/data.js"></script>
  <title>News</title>
</head>


<body>
  <div id="includeHeader"></div>

  <main class="container patient-edu-main" ng-controller="patientEduCtrl" id="patientEduApp">

    <h1 class="patient-edu__title">News</h1>
    <ul class="tag-list">
      <li class="tag-btn" ng-click="handleFilter('')" ng-class="{activeTag: filterValue === ''}">All</li>
      <li class="tag-btn" ng-repeat="tag in tagArray | orderBy:'-count'" ng-click="handleFilter(tag.tag)"
        ng-class="{activeTag: filterValue === tag.tag}">{{tag.tag}}
      </li>
    </ul>

    <section class="patient-edu__card-latest-news">
      <div class="patient-edu__card-latest-news-title">
        <h2>Latest news</h2>
      </div>
      <div class="patient-edu__card-list">
        <a ng-repeat="article in filteredArticle | orderBy:'-date' | limitTo: pageSize : (currentPage - 1) * pageSize"
          href={{article.link}} class="patient-edu__card">
          <img ng-src={{article.img}} />
          <span class="patient-edu__card-tag">{{article.tag}}</span>
          <div class="patient-edu__card-content">
            <h4>{{article.title}}</h4>
            <p>{{article.des}}</p>
          </div>
        </a>
      </div>
      <div class="movePage-wrapper">
        <button class="movePage-btn" ng-disabled="currentPage == 1"
          ng-click="currentPage = currentPage - 1">Prev</button>
        <span class="movePage-pageOf">Page {{currentPage}} of {{numberOfPages}}</span>
        <button class="movePage-btn" ng-disabled="currentPage == numberOfPages"
          ng-click="currentPage = currentPage + 1">Next</button>
      </div>
    </section>


  </main>

  <div id="includeFooter"></div>
</body>
<script src="/js/include.js"></script>
<script type="text/javascript">
  angular.bootstrap(document.getElementById('patientEduApp'), ['PatientEduApp'])
</script>

</html>