.product-banner {
    background: url(./public-002/product-banner-002.png);
    
}
.desc-img {
    background: url(../public-item/teens12-fix.png);
    background-size: cover;
  background-position: center center;
}