::selection {
  background: #1b1b1b;
  color: #fff;
}

.navbar {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
  background: var(--color1);
  z-index: 9;
}

.logo {
  width: 100px;
  height: 100px;
}

.links-container {
  display: flex;
  list-style: none;
}

.link {
  padding: 10px;
  margin-left: 10px;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
}

.send-post {
  width: 100%;
  background: url(./public/VP-bg.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: left;
  width: 60%;
  padding-bottom: 30px;
  padding-top: 30px;
  /* margin-left: 50px; */
}

.sending {
  color: var(--color3);
  text-transform: capitalize;
  font-size: 80px;
  line-height: 60px;
  margin-bottom: 30px;
  text-align: center;
  margin-top: 90px;
}

.sending .small {
  display: block;
  font-size: 40px;
}

.sending .no-fill {
  /* font-size: italic; */
  color: transparent;
  -webkit-text-stroke: 2px black;
  font-size: 60px;
}

.dv-btn {
  text-align: center;

  margin-bottom: 80px;
}

.btn {
  padding: auto 20px;
  border-radius: 50px;
  background: var(--color1);
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
  text-transform: capitalize;
  border: 10px outset var(--color3);
  height: 60px;
  width: 200px;
  margin-top: 40px;
}

/* .blogs-section{
    width: 100%;
    padding: 50px 5vw;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 80px;
}


.blog-image{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.blog-overview{
    margin: 10px 0 20px;
    line-height: 30px;
}

.btn:hover{
    background: var(--color2);
    color: #000;
} */

@media (max-width: 870px) {
  .no-fill {
    display: none;
  }

  input[type='file'] {
    width: 225px;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #000;
  }

  .send-post {
    width: 100%;
    height: calc(100vh - 60px);
    background: url(./public/res-mb3.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .blogs-section {
    display: flex;
    flex-direction: column;
  }

  .sending {
    margin-bottom: 15px;
  }
  .sending .small {
    font-size: 30px;
  }
}

@media (max-width: 280px) {
  .sending .small {
    font-size: 25px;
  }

  .btn {
    width: 100%;
  }
}
