<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous" />
  <script src="https://kit.fontawesome.com/1fb8bb996b.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
  <link rel="stylesheet" href="../../../../../css/styles.css">
  <link rel="stylesheet" href="../../../../../css/header.css">
  <link rel="stylesheet" href="../../../../../css/footer.css">
  <link rel="stylesheet" href="../../../research-article.css">
  <link rel="stylesheet" href="../../../research-article-sub-page.css">


  <link rel="icon" href="../../../../../public/images/favicon.jpg">


  <script src="../../../../../js/header-footer.js"></script>
  <title>Table 5</title>
</head>


<body>
  <header class="container-fluid">
    <input type="checkbox" class="nav__input" id="nav-mobile-input">
    <div class="logo-search-login container" id="logo-search-login-1">
      <div class="logo">
        <img src="../../../../../public/images/logo.svg" alt="Logo" />
      </div>
      <div class="search-group">
        <input type="text" class="search-input" placeholder="Search in 32SMILES" aria-label="Search"
          aria-describedby="basic-addon1" />
        <span class="search-group-icon" id="basic-addon1">
          <i class="fas fa-search"></i>
        </span>
      </div>
      <div class="login">
        <a href="../../../../../pages/Signin-Signup/signIn-signUp.html" class="login_login">Sign in</a>
        <label for="nav-mobile-input" class="nav-mobile__menu-btn"><i class="fa-solid fa-bars"></i></label>
      </div>
    </div>

    <div class="logo-search-login-small container" id="logo-search-login-2">
      <div class="logo">
        <img src="../../../../../public/images/logo.svg" alt="Logo" />
      </div>
      <ul class="nav-bar container" id="smallNav">
        <li class="nav-bar__item-1">
          <a href="" class="nav-bar__link-1">HOME</a>
          <ul class="nav-bar__list-2">
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          </ul>
        </li>
        <li class="nav-bar__item-1">
          <a href="" class="nav-bar__link-1">PROFESSIONAL EDUCATION</a>
          <ul class="nav-bar__list-2">
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          </ul>
        </li>
        <li class="nav-bar__item-1">
          <a href="" class="nav-bar__link-1">PATIENTS EDUCATION</a>
          <ul class="nav-bar__list-2">
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          </ul>
        </li>
        <li class="nav-bar__item-1">
          <a href="" class="nav-bar__link-1">RESEARCH</a>
          <ul class="nav-bar__list-2">
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          </ul>
        </li>
        <li class="nav-bar__item-1">
          <a href="" class="nav-bar__link-1">PRODUCTS</a>
          <ul class="nav-bar__list-2">
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          </ul>
        </li>
        <li class="nav-bar__item-1">
          <a href="" class="nav-bar__link-1">CONTACT US</a>
          <ul class="nav-bar__list-2">
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          </ul>
        </li>
      </ul>
      <div class="login">
        <a href="../../pages/Signin-Signup/signIn-signUp.html" class="login_login">Sign in</a>
        <label for="nav-mobile-input" class="nav-mobile__menu-btn"><i class="fa-solid fa-bars"></i></label>
      </div>
    </div>
    <ul class="nav-bar container" id="mainNav">
      <li class="nav-bar__item-1">
        <a href="" class="nav-bar__link-1">HOME</a>
        <ul class="nav-bar__list-2">
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
        </ul>
      </li>
      <li class="nav-bar__item-1">
        <a href="" class="nav-bar__link-1">PROFESSIONAL EDUCATION</a>
        <ul class="nav-bar__list-2">
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
        </ul>
      </li>
      <li class="nav-bar__item-1">
        <a href="" class="nav-bar__link-1">PATIENTS EDUCATION</a>
        <ul class="nav-bar__list-2">
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
        </ul>
      </li>
      <li class="nav-bar__item-1">
        <a href="" class="nav-bar__link-1">RESEARCH</a>
        <ul class="nav-bar__list-2">
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
        </ul>
      </li>
      <li class="nav-bar__item-1">
        <a href="" class="nav-bar__link-1">PRODUCTS</a>
        <ul class="nav-bar__list-2">
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
        </ul>
      </li>
      <li class="nav-bar__item-1">
        <a href="" class="nav-bar__link-1">CONTACT US</a>
        <ul class="nav-bar__list-2">
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
        </ul>
      </li>
    </ul>



    <label for="nav-mobile-input" class="nav__overlay"></label>

    <di class="nav-mobile">
      <label for="nav-mobile-input" class="nav-mobile-close"><i class="fa-solid fa-xmark"></i></label>
      <div class="nav-mobile__search">
        <div class="nav-mobile__search-wrapper">
          <span class="nav-mobile__search-icon" id="basic-addon1">
            <i class="fas fa-search"></i>
          </span>
          <input type="text" class="nav-mobile__search-input" placeholder="Search in 32SMILES" aria-label="Search"
            aria-describedby="basic-addon1" />
        </div>
      </div>
      <ul class="nav-mobile__list-1">
        <li class="nav-mobile__item-1">
          <a href="" class="nav-mobile__link-1">HOME</a>
        </li>
        <li class="nav-mobile__item-1">
          <a href="" class="nav-mobile__link-1">PROFESSIONAL EDUCATION</a>
        </li>
        <li class="nav-mobile__item-1">
          <a href="" class="nav-mobile__link-1">PATIENTS EDUCATION</a>
        </li>
        <li class="nav-mobile__item-1">
          <a href="" class="nav-mobile__link-1">RESEARCH</a>
        </li>
        <li class="nav-mobile__item-1">
          <a href="" class="nav-mobile__link-1">PRODUCTS</a>
        </li>
        <li class="nav-mobile__item-1">
          <a href="" class="nav-mobile__link-1">CONTACT US</a>
        </li>
      </ul>
    </di>

  </header>

  <main class="container sub-page-all">
    <div class="sub-page-header">
      <h1 class="sub-page-title">Table 5 Quantified performances of DenseNet121 with FS and TL architectures.</h1>
      <p class="sub-page-satellite">From: <a href="../../article-0002.html">Diagnostic performance of convolutional
          neural networks for dental sexual dimorphism</a></p>
    </div>
    <div class="sub-page-content">
      <div class="article-table-container">
        <table class="article-page-table">
          <thead class="article-page-table__head">
            <tr>
              <th rowspan="2" class="table-text-left ">
                <p>CNN model</p>
              </th>
              <th rowspan="2" class="table-text-left ">
                <p>Architecture</p>
              </th>
              <th rowspan="2" class="table-text-left ">
                <p>K-fold 5</p>
              </th>
              <th class="table-text-left " colspan="6">
                <p>Metrics</p>
              </th>
            </tr>
            <tr>
              <th class="table-text-left ">
                <p>Loss</p>
              </th>
              <th class="table-text-left ">
                <p>Accuracy</p>
              </th>
              <th class="table-text-left ">
                <p>F<sub>1</sub>-score</p>
              </th>
              <th class="table-text-left ">
                <p>Precision</p>
              </th>
              <th class="table-text-left ">
                <p>Recall</p>
              </th>
              <th class="table-text-left ">
                <p>Specificity</p>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td rowspan="12" class="table-text-left ">
                <p>DenseNet121</p>
                <p>100 epochs</p>
                <p>Batch size = 32</p>
              </td>
              <td rowspan="6" class="table-text-left ">
                <p>FS</p>
              </td>
              <td class="table-text-left ">
                <p>Fold 1</p>
              </td>
              <td class="table-text-char ">
                <p>0.6835</p>
              </td>
              <td class="table-text-char ">
                <p>0.7215</p>
              </td>
              <td class="table-text-char ">
                <p>0.7104</p>
              </td>
              <td class="table-text-char ">
                <p>0.7272</p>
              </td>
              <td class="table-text-char ">
                <p>0.6959</p>
              </td>
              <td class="table-text-char ">
                <p>0.8705</p>
              </td>
            </tr>
            <tr>
              <td class="table-text-left ">
                <p>Fold 2</p>
              </td>
              <td class="table-text-char ">
                <p>0.6175</p>
              </td>
              <td class="table-text-char ">
                <p>0.7166</p>
              </td>
              <td class="table-text-char ">
                <p>0.6863</p>
              </td>
              <td class="table-text-char ">
                <p>0.6916</p>
              </td>
              <td class="table-text-char ">
                <p>0.6814</p>
              </td>
              <td class="table-text-char ">
                <p>0.8627</p>
              </td>
            </tr>
            <tr>
              <td class="table-text-left ">
                <p>Fold 3</p>
              </td>
              <td class="table-text-char ">
                <p>0.6203</p>
              </td>
              <td class="table-text-char ">
                <p>0.7141</p>
              </td>
              <td class="table-text-char ">
                <p>0.7093</p>
              </td>
              <td class="table-text-char ">
                <p>0.7133</p>
              </td>
              <td class="table-text-char ">
                <p>0.7055</p>
              </td>
              <td class="table-text-char ">
                <p>0.8719</p>
              </td>
            </tr>
            <tr>
              <td class="table-text-left ">
                <p>Fold 4</p>
              </td>
              <td class="table-text-char ">
                <p>0.6174</p>
              </td>
              <td class="table-text-char ">
                <p>0.7200</p>
              </td>
              <td class="table-text-char ">
                <p>0.7200</p>
              </td>
              <td class="table-text-char ">
                <p>0.7284</p>
              </td>
              <td class="table-text-char ">
                <p>0.7124</p>
              </td>
              <td class="table-text-char ">
                <p>0.8840</p>
              </td>
            </tr>
            <tr>
              <td class="table-text-left ">
                <p>Fold 5</p>
              </td>
              <td class="table-text-char ">
                <p>0.7234</p>
              </td>
              <td class="table-text-char ">
                <p>0.7099</p>
              </td>
              <td class="table-text-char ">
                <p>0.7061</p>
              </td>
              <td class="table-text-char ">
                <p>0.7187</p>
              </td>
              <td class="table-text-char ">
                <p>0.6949</p>
              </td>
              <td class="table-text-char ">
                <p>0.8844</p>
              </td>
            </tr>
            <tr>
              <td class="table-text-left ">
                <p>Average</p>
              </td>
              <td class="table-text-char ">
                <p>0.6524</p>
              </td>
              <td class="table-text-char ">
                <p>0.7164</p>
              </td>
              <td class="table-text-char ">
                <p>0.7064</p>
              </td>
              <td class="table-text-char ">
                <p>0.7159</p>
              </td>
              <td class="table-text-char ">
                <p>0.6980</p>
              </td>
              <td class="table-text-char ">
                <p>0.8747</p>
              </td>
            </tr>
            <tr>
              <td rowspan="6" class="table-text-left ">
                <p>TL</p>
              </td>
              <td class="table-text-left ">
                <p>Fold 1</p>
              </td>
              <td class="table-text-char ">
                <p>0.7780</p>
              </td>
              <td class="table-text-char ">
                <p>0.8327</p>
              </td>
              <td class="table-text-char ">
                <p>0.8193</p>
              </td>
              <td class="table-text-char ">
                <p>0.8203</p>
              </td>
              <td class="table-text-char ">
                <p>0.8185</p>
              </td>
              <td class="table-text-char ">
                <p>0.9213</p>
              </td>
            </tr>
            <tr>
              <td class="table-text-left ">
                <p>Fold 2</p>
              </td>
              <td class="table-text-char ">
                <p>0.6892</p>
              </td>
              <td class="table-text-char ">
                <p>0.8227</p>
              </td>
              <td class="table-text-char ">
                <p>0.7920</p>
              </td>
              <td class="table-text-char ">
                <p>0.7920</p>
              </td>
              <td class="table-text-char ">
                <p>0.7920</p>
              </td>
              <td class="table-text-char ">
                <p>0.9112</p>
              </td>
            </tr>
            <tr>
              <td class="table-text-left ">
                <p>Fold 3</p>
              </td>
              <td class="table-text-char ">
                <p>0.6635</p>
              </td>
              <td class="table-text-char ">
                <p>0.8114</p>
              </td>
              <td class="table-text-char ">
                <p>0.7804</p>
              </td>
              <td class="table-text-char ">
                <p>0.7808</p>
              </td>
              <td class="table-text-char ">
                <p>0.7800</p>
              </td>
              <td class="table-text-char ">
                <p>0.9121</p>
              </td>
            </tr>
            <tr>
              <td class="table-text-left ">
                <p>Fold 4</p>
              </td>
              <td class="table-text-char ">
                <p>0.7392</p>
              </td>
              <td class="table-text-char ">
                <p>0.8162</p>
              </td>
              <td class="table-text-char ">
                <p>0.8159</p>
              </td>
              <td class="table-text-char ">
                <p>0.8169</p>
              </td>
              <td class="table-text-char ">
                <p>0.8149</p>
              </td>
              <td class="table-text-char ">
                <p>0.9320</p>
              </td>
            </tr>
            <tr>
              <td class="table-text-left ">
                <p>Fold 5</p>
              </td>
              <td class="table-text-char ">
                <p>0.6757</p>
              </td>
              <td class="table-text-char ">
                <p>0.8262</p>
              </td>
              <td class="table-text-char ">
                <p>0.8242</p>
              </td>
              <td class="table-text-char ">
                <p>0.8261</p>
              </td>
              <td class="table-text-char ">
                <p>0.8224</p>
              </td>
              <td class="table-text-char ">
                <p>0.9334</p>
              </td>
            </tr>
            <tr>
              <td class="table-text-left ">
                <p>Average</p>
              </td>
              <td class="table-text-char ">
                <p>0.7091</p>
              </td>
              <td class="table-text-char ">
                <p>0.8218</p>
              </td>
              <td class="table-text-char ">
                <p>0.8064</p>
              </td>
              <td class="table-text-char ">
                <p>0.8072</p>
              </td>
              <td class="table-text-char ">
                <p>0.8056</p>
              </td>
              <td class="table-text-char ">
                <p>0.9220</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>



      <p class="sub-page-footer">FS from scratch, TL transfer learning.</p>
    </div>
    <div class="link-right">
      <a class="article__pill-button" href="../../article-0002.html">
        <span>Back to article page</span>
        <i class="fa-solid fa-angle-right"></i>
      </a>
    </div>
  </main>

  <footer>
    <div class="footer-area container">
      <div class="footer__info">
        <div class="row footer__info-row">
          <div class="col footer__col-1">
            <div class="footer_subscribe-wrapper" ng-app="myApp" ng-controller="myCtrl">
              <div class="footer__subscribe-title">
                <p>Subscribe</p>
              </div>
              <form name="subscribeForm">
                <div class="footer__subscribe-input-field">
                  <input ng-model="emailInput" class="footer__input-subscribe" type="email"
                    placeholder="Enter your email">
                  <button ng-click="validateEmail()" class="footer__sign-up-button" type="submit">Sign up</button>

                </div>
                <p class="footer__subscribe-error"> {{errorMessage}}</p>
              </form>
              <div class="footer__thanks">
                <span>Thank you for subscribe</span>
              </div>
            </div>

            <ul class="footer__social-media">
              <li>
                <a href="#"><i class="fa-brands fa-facebook-f"></i></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-pinterest"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-tiktok"></i></a>
              </li>
            </ul>
          </div>
          <div class="col footer__col-2">
            <ul>
              <li><a href="">Patient education</a></li>
              <li><a href="">Professional education</a></li>
              <li><a href="">Research</a></li>
              <li><a href="">Product</a></li>
            </ul>
          </div>
          <div class="col footer__col-3">
            <ul>
              <li><a href="">About us</a></li>
              <li><a href="">Careers</a></li>
              <li><a href="">Site map</a></li>
              <li><a href="">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- <script type="text/babel" src="subscribe.js"></script> -->
</body>

</html>