<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous" />
  <script src="https://kit.fontawesome.com/1fb8bb996b.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
  <link rel="stylesheet" href="../../css/styles.css">
  <link rel="stylesheet" href="../../css/header.css">
  <link rel="stylesheet" href="../../css/footer.css">
  <link rel="stylesheet" href="../../css/side-bar.css">
  <link rel="stylesheet" href="pro-resources.css">
  <link rel="icon" href="../../public/images/favicon.jpg">


  <script src="../../js/header-footer.js"></script>
  <title>Resources Faculty 01</title>
</head>


<body>
  <header class="container-fluid">
    <input type="checkbox" class="nav__input" id="nav-mobile-input">
    <div class="logo-search-login container" id="logo-search-login-1">
      <div class="logo">
        <img src="../../public/images/logo.svg" alt="Logo" />
      </div>
      <div class="search-group">
        <input type="text" class="search-input" placeholder="Search in 32SMILES" aria-label="Search"
          aria-describedby="basic-addon1" />
        <span class="search-group-icon" id="basic-addon1">
          <i class="fas fa-search"></i>
        </span>
      </div>
      <div class="login">
        <a href="../../pages/Signin-Signup/signIn-signUp.html" class="login_login">Sign in</a>
        <label for="nav-mobile-input" class="nav-mobile__menu-btn"><i class="fa-solid fa-bars"></i></label>
      </div>
    </div>

    <div class="logo-search-login-small container" id="logo-search-login-2">
      <div class="logo">
        <img src="../../public/images/logo.svg" alt="Logo" />
      </div>
      <ul class="nav-bar container" id="smallNav">
        <li class="nav-bar__item-1">
          <a href="" class="nav-bar__link-1">HOME</a>
          <ul class="nav-bar__list-2">
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          </ul>
        </li>
        <li class="nav-bar__item-1">
          <a href="" class="nav-bar__link-1">PROFESSIONAL EDUCATION</a>
          <ul class="nav-bar__list-2">
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          </ul>
        </li>
        <li class="nav-bar__item-1">
          <a href="" class="nav-bar__link-1">PATIENTS EDUCATION</a>
          <ul class="nav-bar__list-2">
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          </ul>
        </li>
        <li class="nav-bar__item-1">
          <a href="" class="nav-bar__link-1">RESEARCH</a>
          <ul class="nav-bar__list-2">
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          </ul>
        </li>
        <li class="nav-bar__item-1">
          <a href="" class="nav-bar__link-1">PRODUCTS</a>
          <ul class="nav-bar__list-2">
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          </ul>
        </li>
        <li class="nav-bar__item-1">
          <a href="" class="nav-bar__link-1">CONTACT US</a>
          <ul class="nav-bar__list-2">
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
            <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          </ul>
        </li>
      </ul>
      <div class="login">
        <a href="../../pages/Signin-Signup/signIn-signUp.html" class="login_login">Sign in</a>
        <label for="nav-mobile-input" class="nav-mobile__menu-btn"><i class="fa-solid fa-bars"></i></label>
      </div>
    </div>
    <ul class="nav-bar container" id="mainNav">
      <li class="nav-bar__item-1">
        <a href="" class="nav-bar__link-1">HOME</a>
        <ul class="nav-bar__list-2">
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
        </ul>
      </li>
      <li class="nav-bar__item-1">
        <a href="" class="nav-bar__link-1">PROFESSIONAL EDUCATION</a>
        <ul class="nav-bar__list-2">
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
        </ul>
      </li>
      <li class="nav-bar__item-1">
        <a href="" class="nav-bar__link-1">PATIENTS EDUCATION</a>
        <ul class="nav-bar__list-2">
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
        </ul>
      </li>
      <li class="nav-bar__item-1">
        <a href="" class="nav-bar__link-1">RESEARCH</a>
        <ul class="nav-bar__list-2">
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
        </ul>
      </li>
      <li class="nav-bar__item-1">
        <a href="" class="nav-bar__link-1">PRODUCTS</a>
        <ul class="nav-bar__list-2">
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
        </ul>
      </li>
      <li class="nav-bar__item-1">
        <a href="" class="nav-bar__link-1">CONTACT US</a>
        <ul class="nav-bar__list-2">
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
          <li class="nav-bar__item-2"><a href="" class="nav-bar__link-2">Link1</a></li>
        </ul>
      </li>
    </ul>



    <label for="nav-mobile-input" class="nav__overlay"></label>

    <di class="nav-mobile">
      <label for="nav-mobile-input" class="nav-mobile-close"><i class="fa-solid fa-xmark"></i></label>
      <div class="nav-mobile__search">
        <div class="nav-mobile__search-wrapper">
          <span class="nav-mobile__search-icon" id="basic-addon1">
            <i class="fas fa-search"></i>
          </span>
          <input type="text" class="nav-mobile__search-input" placeholder="Search in 32SMILES" aria-label="Search"
            aria-describedby="basic-addon1" />
        </div>
      </div>
      <ul class="nav-mobile__list-1">
        <li class="nav-mobile__item-1">
          <a href="" class="nav-mobile__link-1">HOME</a>
        </li>
        <li class="nav-mobile__item-1">
          <a href="" class="nav-mobile__link-1">PROFESSIONAL EDUCATION</a>
        </li>
        <li class="nav-mobile__item-1">
          <a href="" class="nav-mobile__link-1">PATIENTS EDUCATION</a>
        </li>
        <li class="nav-mobile__item-1">
          <a href="" class="nav-mobile__link-1">RESEARCH</a>
        </li>
        <li class="nav-mobile__item-1">
          <a href="" class="nav-mobile__link-1">PRODUCTS</a>
        </li>
        <li class="nav-mobile__item-1">
          <a href="" class="nav-mobile__link-1">CONTACT US</a>
        </li>
      </ul>
    </di>

  </header>
  <main>
    <section class="container">

      <div class="header-article">
        <div class="link-path">
          <a href="#" class="path">Home</a>
          <span class="extra-path"> > </span>
          <a href="#" class="path">Professional Education</a>
        </div>
        <h1 class="art-title">Nitrous Oxide Administration</h1>
        <div class="condition-title-info">
          <span class="update">Updated: Oct 29, 2022</span>
          <span class="author">
            Author: Ally N Alai, MD, FAAD, Jeff Burgess, DDS, MSD</span>
        </div>
        <div class="action">
          
            <a download href="../../../public/pdf/samplePDF.pdf">
              <div class="download-file">
              Download PDF </div>
            </a>
          
          <div class="share-social">
            <span class="text-social">Share article with:</span>
            <ul class="icon-social">
              <li>
                <a href="#"><i class="fa-brands fa-facebook-f"></i></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-pinterest"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-tiktok"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="body-main">
        <div class="main-resources">
          <section class="main-text">
            <h2 class="text-title">Overview</h2>
            <div class="text-desc">
              <p class="text-element">Nitrous oxide (N2 O), commonly known as laughing gas or happy gas, was first
                discovered in 1793 by the English scientist Joseph Priestly and has been used for more than 150 years.
                It
                has remained one of the most widely used anesthetics in both dental and medical applications</p>
              <p class="text-element">Nitrous oxide is small inorganic chemical molecule and may also be known as
                dinitrogen oxide or dinitrogen monoxide. It is a colorless and nonflammable gas with a slightly sweet
                odor.</p>
              <p class="text-element">Nitrous oxide also has some illicit recreational uses and abuse potential. It is
                widely used in multiple nonmedical areas. Some of the nonmedical uses of nitrous oxide include the
                semiconductor industry, car racing, and food processing.</p>
              <p class="text-element">Nitrous oxide is administered by inhalation, absorbed by diffusion through the
                lungs, and eliminated via respiration. The elimination half life of nitrous oxide is approximately 5
                minutes. [3] It is excreted essentially unchanged (ie, nonmetabolized) via the lungs; less than 0.004%
                is
                actually metabolized in humans.</p>
            </div>
          </section>

          <section class="main-text">
            <h2 class="text-title">Indications</h2>
            <h3 class="text-extra">General anesthesia, in combination with other anesthetics</h3>
            <div class="text-desc">
              <p class="text-element">Nitrous oxide is a weak inhalational anesthetic. Because 105% alveolar
                concentration
                is needed to induce general anesthesia when nitrous oxide is used as a sole anesthetic agent, it is
                ineffective as a single agent for general anesthesia. As a result, nitrous oxide is most commonly used
                in
                combination with other more potent inhalational anesthetics for general anesthesia.</p>
              <p class="text-element">One of the most common uses of nitrous oxide in anesthesia is during mask
                induction
                of general anesthesia in pediatric patients. It is combined with oxygen and incrementally increasing
                doses
                of a more potent inhalational anesthetic (eg, sevoflurane) and delivered via mask inhalation.</p>

            </div>
          </section>
          <section class="main-text">
            <h2 class="text-title">Dentistry</h2>
            <div class="text-desc">
              <p class="text-element">In dentistry, nitrous oxide is indicated to decrease the pain and anxiety
                associated
                with procedures. It is commonly delivered by a nasal mask in combination with oxygen. [1] The specially
                designed nasal mask fully covers the nose, allowing the mixture of nitrous oxide with oxygen to flow
                while
                the dentist works on the patient’s mouth.</p>
              <p class="text-element">Nitrous oxide is commonly offered by pediatric dentists to assist in inducing
                amnesia, as well as increasing analgesia, relaxation, and cooperation in younger patients.</p>
              <p class="text-element">Indications in adult dental patients include anxiety, low pain tolerance,
                underlying
                psychiatric disorders, and mental retardation. </p>
              <p class="text-element">Nitrous oxide may also be useful for prolonged or more involved dental procedures
                as
                well as in patients with hyperresponsive gag reflexes.</p>
            </div>
          </section>
          <section class="main-text">
            <h2 class="text-title">Contraindications</h2>
            <h3 class="text-extra">Absolute contraindications</h3>
            <div class="text-desc">
              <p class="text-element">Overall, nitrous oxide is a very safe drug with few absolute contraindications.
              </p>
              <p class="text-element">Nitrous oxide is contraindicated in patients with significant respiratory
                compromise.</p>
              <p class="text-element">The blood:gas partition coefficient of nitrous oxide is 34 times greater than that
                of nitrogen. This differential solubility means that nitrous oxide can leave the bloodstream and enter
                air-filled cavities 34 times faster than nitrogen. As a result, nitrous is contraindicated in patients
                in
                whom expansion of these air-filled cavities could compromise patient safety. This includes patients with
                pneumothorax, pulmonary blebs, air embolism, bowel obstruction, and those undergoing surgery of the
                middle
                ear.</p>
              <p class="text-element">Nitrous oxide is absolutely contraindicated in patients who have had eye surgery
                that uses an intraocular gas.</p>
            </div>
            <h3 class="text-extra">Dental contraindications</h3>
            <div class="text-desc">
              <p class="text-element">Dental nitrous oxide may be contraindicated in patients with severe nasal
                congestion, those who breathe through their mouths, or those unable to wear a nasal mask.</p>
              <p class="text-element">Some patients, especially children experiencing severe anxiety or extreme
                uncooperativeness, may not be good candidates for this milder therapy and may require more potent
                sedating
                intravenous or general anesthesia. </p>
              <p class="text-element">Nitrous oxide is relatively contraindicated in pregnancy. It is known to have
                potential teratogenic and fetal toxic effects, particularly with chronic use.</p>

            </div>
          </section>
          <section class="main-text">
            <h2 class="text-title">Equipment</h2>
            <div class="text-desc">
              <p class="text-element"> Nitrous oxide is stored in closed gas cylinders. Oxygen and nitrous oxide, shown
                in
                the images below, are part of the required equipment. </p>
              <div class="img-element">
                <img src="./public/resources01.png" alt="">
                <span class="img-desc">Oxygen and nitrous oxide tanks used in anesthesia delivery equipment.</span>
              </div>
              <div class="img-element">
                <img src="./public/resources02.png" alt="">
                <span class="img-desc">Smaller unit in a dental office.</span>
              </div>
              <p class="text-element">Attached flow meters like the one shown below restrict the proportion as well as
                the
                flow rate of nitrous oxide in order to keep a minimum oxygen concentration. This minimum concentration
                is
                usually 21% (room air).</p>
              <div class="img-element">
                <img src="./public/resources03.png" alt="">
                <span class="img-desc">Flow meters used in anesthesia delivery equipment to adjust the flow of nitrous
                  oxide, oxygen, and air. Anesthesia machines have safety mechanisms to restrict the lower limit of
                  oxygen
                  delivery to 21%.</span>
              </div>
              <p class="text-element">Surgical anesthesia uses a full face mask that covers the nose and mouth.
                Alternatively, nitrous oxide may be administered via an endotracheal (ET) tube.</p>
              <p class="text-element">For each method of administration, proper equipment, monitoring, and storage unit
                integrity are necessary in order to avoid unintended gas leakage or excessive exposure. An example is
                shown in the image below.</p>

            </div>
          </section>
        </div>



        <div class="rcm-resources">
          <div class="rcm-wrap">
            <div class="rcm-banner">
              <img src="./public/banner-rcm.svg" alt="">
            </div>

            <div class="rcm">
              <h2 class="rcm-text">Recommended</h2>
              <ul class="rcm-list">
                <li class="rcm-link">
                  <a href="#">
                    <span>Two Exercise Interventions May Ease Acute, Subacute Spine Pain
                    </span>
                  </a>

                </li>
                <li class="rcm-link">
                  <a href="#">
                    <span>
                      Two Exercise Interventions May Ease Acute, Subacute Spine Pain
                    </span>
                  </a>

                </li>
                <li class="rcm-link">
                  <a href="#">
                    <span>Over-the-Counter Analgesics/Antipyretics: Essential Medicines, Indispensable
                      Medicines
                    </span>
                  </a>

                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <div class="footer-area container">
      <div class="footer__info">
        <div class="row footer__info-row">
          <div class="col footer__col-1">
            <div class="footer_subscribe-wrapper" ng-app="myApp" ng-controller="myCtrl">
              <div class="footer__subscribe-title">
                <p>Subscribe</p>
              </div>
              <form name="subscribeForm">
                <div class="footer__subscribe-input-field">
                  <input ng-model="emailInput" class="footer__input-subscribe" type="email"
                    placeholder="Enter your email">
                  <button ng-click="validateEmail()" class="footer__sign-up-button" type="submit">Sign up</button>

                </div>
                <p class="footer__subscribe-error"> {{errorMessage}}</p>
              </form>
              <div class="footer__thanks">
                <span>Thank you for subscribe</span>
              </div>
            </div>

            <ul class="footer__social-media">
              <li>
                <a href="#"><i class="fa-brands fa-facebook-f"></i></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-pinterest"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-tiktok"></i></a>
              </li>
            </ul>
          </div>
          <div class="col footer__col-2">
            <ul>
              <li><a href="">Patient education</a></li>
              <li><a href="">Professional education</a></li>
              <li><a href="">Research</a></li>
              <li><a href="">Product</a></li>
            </ul>
          </div>
          <div class="col footer__col-3">
            <ul>
              <li><a href="">About us</a></li>
              <li><a href="">Careers</a></li>
              <li><a href="">Site map</a></li>
              <li><a href="">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- <script type="text/babel" src="subscribe.js"></script> -->
</body>

</html>