*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
    --margin-width: 15%;
  
    --color1: #0f55a6;
    --color1-hover: #1873dc;
    --color2: #15ABDB;
  }
  body {
    background-color: var(--color1);
    
  }
  a{
    text-decoration: none;
  }
.signUp-container {
    margin: 0 var(--margin-width);
    padding-top: 100px;
    display: flex;
    flex-direction: row;
}
  /* header */
  .logo img {
    width: 100px;
    height: 70px;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
  }
  .signUp-header {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .signUp-tab-desc{
    padding-top: 10px;
    font-weight: bold;
    font-size: large;
  }

  .signUp-logIn {
    font-size: 15px;
  }

  .create-acc a {
    color: var(--color2);
  }  
  .log-in a{
    color: black;
  }
  .signUp-logIn a:hover {
    color: var(--color2);
  }
  /* main */
  .signUp-main {
    width: 50%;
    background-color: #fff;
    border: 1px solid var(--color1);
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
  }

  /* header form */
  .signUp-tab {
    padding: 20px;
  }

  
  /* error */
  .errortext {
    color: red;
  }
  .icon-error img {
 color: red;
  }

  /* form */
  .form-group {
    padding: 10px;
  }
  .label-text {
    font-weight: bold;
  }
  /* desc */
  .desc-signUp{
    margin-left: 10px;
    width: 50%;
    color: #fff;
    
  }
  .desc-header{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding: 20px 70px 10px 70px;
    height: 100px;
    margin-bottom: 30px;
  }

  .desc-elm {
    height: 50px;
    margin-top: 20px;
    text-align: center;
  }
  /* button */
  .btn-create {
    display: flex;
    justify-content: center;
    
  }
  .button-create {
    border-radius: 10px;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--color2);
    border: none;
  }