* {
  --color-research-article-border-btn: #bdd3dd;
}

.research-article-content p > a,
.side-bar__menu a {
  color: var(--color1);
}

img {
  width: 100%;
}

.research-article-content p > a:hover,
.side-bar__menu a:hover {
  color: var(--color3);
  text-decoration: underline;
}

#Sec1,
#Sec2,
#Sec3,
#Sec4,
#Sec5,
#Sec6,
#Sec7,
#Sec8,
#tab1,
#fig1 {
  scroll-margin-top: 100px;
}

.research-article-main {
  display: grid;
  margin-top: 32px;
  grid-template: auto / 1fr 30%;
  grid-template-areas: 'articleContent sideBar';
  column-gap: 4em;
}

/* Article Header */
.research-article-content {
  grid-area: articleContent;
}

.article-header {
  margin-top: 10px;
  margin-bottom: 40px;
}

.article-identifiers {
  display: flex;
}
.article-identifiers li {
  margin-right: 8px;
  padding-right: 8px;
  border-right: 1px solid var(--sub-text-color);
}

.article-identifiers li:last-child {
  border-right: none;
}

.article-title {
  margin-top: 8px;
  margin-bottom: 16px;
}

.article-authors {
  margin-bottom: 16px;
}

.article-metrics-bar {
  display: flex;
}

.article-metrics-bar li {
  display: flex;
  margin-right: 8px;
  border-right: 1px solid var(--sub-text-color);
}

.article-metrics-bar li:last-child {
  border-right: none;
}

.article-metrics-bar li p {
  font-weight: bold;
}

.article-metrics-bar li span {
  margin: 0 10px 0 5px;
}

/* Article body */

.article-section__title {
  padding-bottom: 5px;
  border-bottom: 2px solid var(--sub-text-color);
}

.article-section__content {
  padding-top: 8px;
  margin-bottom: 40px;
}

.article-section__content p {
  line-height: 1.5em;
  margin-bottom: 20px;
}

.article-table,
.article-figure {
  margin-bottom: 24px;
  padding: 20px 10px;
  border: 2px solid var(--sub-text-color);
}

.article-table figcaption,
.article-figure figcaption {
  margin-bottom: 16px;
}

.link-right {
  width: 100%;
  display: flex;
  justify-content: end;
}

.article__pill-button {
  margin-bottom: 10px;
  padding: 8px 16px 8px 20px;
  border: 4px solid var(--color-research-article-border-btn);
  border-radius: 9999px;
  font-size: 0.875em;
  font-weight: 700;
  text-decoration: none;
  color: var(--color1);
}

.article__pill-button:hover {
  color: #fff;
  background-color: var(--color1);
  text-decoration: none;
}

/* Side bar */

.side-bar-area {
  grid-area: sideBar;
  position: sticky;
  top: 200px;
}

.side-bar-wrapper {
  position: sticky;
  top: 200px;
}

.pdf-download {
  display: flex;
  margin-bottom: 16px;
}

.download-btn {
  display: flex;
  padding: 13px 20px;
  height: 20px;
  width: 100%;
  background-color: var(--color1);
  color: #fff;
  justify-content: space-between;
  border: 1px solid transparent;
  border-radius: var(--border-radius-big);
  cursor: pointer;
}

.download-btn:hover {
  background-color: #fff;
  color: var(--color1);
  text-decoration: none;
  border: 1px solid var(--color1);
}

/* RESPONSIVE */

/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
  .research-article-main {
    grid-template-columns: none;
    grid-template-rows: 60px 1fr;
    grid-template-areas:
      'sideBar'
      'articleContent';
  }

  .research-article-content {
    grid-area: articleContent;
  }

  .side-bar-area {
    position: sticky;
    top: 77px;
    grid-area: sideBar;
  }

  .side-bar-wrapper {
    top: 0px;
  }

  .side-bar {
    display: none;
  }
}
