@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

.location {
  display: grid;
  margin-bottom: 15px;
  grid-template-columns: 30% 1fr;
  grid-template-rows: 80px auto;
  grid-template-areas:
    'search search'
    'address map';
  gap: 20px;
}

.location {
  margin-top: 15px;
}

.location-search {
  grid-area: search;
}

.location-items {
  grid-area: address;
}

.location-item {
  margin-bottom: 15px;
}

.map-container {
  grid-area: map;
  /* border: 1px solid blue; */
  border-radius: var(--border-radius-big);
}
