.patientEdu-article-main {
  display: grid;
  margin-top: 32px;
  margin-bottom: 32px;
  grid-template: auto auto / 10% 1fr;
  grid-template-areas:
    'articleHeader articleHeader '
    'sideBar articleBody';
  column-gap: 4em;
}

.patientEdu-article-content {
  grid-area: articleContent;
}

.article-header {
  grid-area: articleHeader;
  margin-top: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid var(--sub-text-color);
}

.article-identifiers {
  display: flex;
  font-size: 0.8em;
}
.article-identifiers li {
  margin-right: 8px;
  padding-right: 8px;
  border-right: 1px solid var(--sub-text-color);
}

.article-identifiers li:last-child {
  border-right: none;
}

.article-title {
  margin-top: 8px;
  margin-bottom: 16px;
  color: var(--color1);
}

.article-authors {
  margin-bottom: 16px;
  font-size: 0.8em;
}

/* SIDE BAR */

.side-bar-social-media {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1em 0 1em;
}

.side-bar-social-media li {
  display: flex;
  float: left;
  margin-left: 0px;
  margin-bottom: 10px;
}

.side-bar-social-media a:hover {
  background-color: #fff;
  color: var(--color1);
  border: 1px solid var(--color1);
}

.side-bar-social-media a {
  position: relative;
  width: 20px;
  height: 20px;
  padding: 8px;
  display: flex;
  background-color: var(--color2);
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 49999px;
  color: white;
  font-size: 1.2rem;
}

.footer__social-logo-wrapper i {
  background-color: transparent;
  color: white;
}

/* BODY */

.article-body {
  grid-area: articleBody;
}

.article-section__title {
  padding-bottom: 5px;
  border-bottom: 2px solid var(--sub-text-color);
  margin: 1em 0;
  font-size: 1.75em;
  color: var(--color1);
}

.article-section__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-top: 8px;
  margin-bottom: 20px;
}

.article-section__content p {
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

.article-section__content ul {
  /* list-style-type: disc; */
  padding: 0 2em;
}

.article-section__content li {
  list-style-type: disc;
}

.article-section__content img {
  display: block;
  margin: 0 auto 1.5em;
  max-width: 100%;
  border-radius: var(--border-radius-big);
}

.article-table,
.article-figure {
  margin-bottom: 24px;
  padding: 20px 10px;
  border: 2px solid var(--sub-text-color);
}

.article-table figcaption,
.article-figure figcaption {
  margin-bottom: 16px;
}

/* RESPONSIVE */
/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
  .patientEdu-article-main {
    grid-template: auto auto auto / 1fr;
    grid-template-areas:
      'articleHeader'
      'sideBar'
      'articleBody';
    font-size: 13px;
    letter-spacing: 0.05em;
  }

  .side-bar-social-media {
    flex-direction: row;
  }

  .side-bar-social-media li {
    margin-right: 10px;
    margin-bottom: 0;
  }

  .side-bar-social-media a {
    height: 10px;
    width: 10px;
  }

  .side-bar-social-media i {
    font-size: 0.8em;
  }

  .article-header {
    margin-bottom: 1em;
  }
}
